!!!5
html
	head
		meta(charset='UTF-8')
		title stat social
		link(rel="stylesheet", type="text/css", href="main.css")
		link(rel="stylesheet", type="text/css", href="assets/kit.css")
		link(href='http://fonts.googleapis.com/css?family=PT+Sans', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700', rel='stylesheet', type='text/css')
	body
		include icons.svg
		.main-kl
			.section-kl
				.header-ke Colors
				.cf 
					.color-sample-ke.c-black1-bg-g
					.color-sample-ke.c-black2-bg-g
					.color-sample-ke.c-black3-bg-g
					.color-sample-ke.c-black4-bg-g
					.color-sample-ke.c-black5-bg-g
					.color-sample-ke.c-black6-bg-g
					.color-sample-ke.c-black7-bg-g
					.color-sample-ke.c-black8-bg-g
					.color-sample-ke.c-black9-bg-g
					.color-sample-ke.c-black10-bg-g

				.cf
					.color-sample-ke.c-blue1-bg-g
					.color-sample-ke.c-blue2-bg-g
					.color-sample-ke.c-blue3-bg-g
					.color-sample-ke.c-blue4-bg-g

				.cf
					.color-sample-ke.c-grey1-bg-g
					.color-sample-ke.c-grey2-bg-g

				.cf
					.color-sample-ke.c-red-bg-g
					.color-sample-ke.c-orange-bg-g
					.color-sample-ke.c-green-bg-g

			- var el = {}

			.section-kl
				.header-ke Icons
				.cf 
					.icon-sample-kl
						.hash-e e8927b78df844bde0a5122e14d346032
						- el = { path: 'youtube-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 710766b0b43d5a5f681e63f32fbf9771
						- el = { path: 'twitter-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 93a0906c869a433ee6ca046cca750a28
						- el = { path: 'instagram-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 93e854b40b0a3bc639eb835cb4c93264
						- el = { path: 'fb-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 8e208b58ad3e76d4e8f319c20a462c3b
						- el = { path: 'automotive-icon' }
						include partials/icon


					.icon-sample-kl
						.hash-e fb36ac24f835eeda24e4b26cacd10279
						- el = { path: 'tv-icon' }
						include partials/icon


					.icon-sample-kl
						.hash-e bd0843afe4d69813738a8c03e0371a6f
						- el = { path: 'social-icon' }
						include partials/icon


					.icon-sample-kl
						.hash-e 7b89519965ce54ec236609b45b1dd9c1
						- el = { path: 'celebrities-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 5f313810199d5e0533364ed26e3dc408
						- el = { path: 'interests-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 85c6c30c97bad48f711fffdce2b2abd2
						- el = { path: 'geo-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 7c476e368012a516986f85008a5e9e28
						- el = { path: 'entertainment-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 43519269e87d6cec5c247dc3198d7742
						- el = { path: 'energy-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 82b863d15f890174e85894750fdbab95
						- el = { path: 'demographics-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 2e8a10e14ae84a0df9da0bce26cf86c1
						- el = { path: 'education-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 161c7338edb325811dfb829b19110dbc
						- el = { path: 'cross-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 8b784c6f17cd3e41cc83db9772ff71cd
						- el = { path: 'brands-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e cf9350838fc85aeb1cfa6c7f0d128d5e
						- el = { path: 'book-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 8eb4c1f48d6cbfca0cdd16a477b2a889
						- el = { path: 'search-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e b49d54fc93da891d5e664cb51d9eff94
						- el = { path: 'cross2-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 37e98bf79b411f4b4d1470f90db0898d
						- el = { path: 'minus-icon' }
						include partials/icon



			.section-kl
				.header-ke Elements
				.hash-e b7fd66c98927030c63e5bc85e79603cf
				- el = { class: '', text: '' }
				include partials/tab-circle

				.hash-e 91f28e51a4cffb32caebcda1cbff41fe
				- el = { class: 'is-number', text: '94%' }
				include partials/tab-circle

				.hash-e c39be41115f94c1c17bbf581d77838c8
				.sidebar-logo-e STAT SOCIAL

				.hash-e 75265e958b07e0885d471fb3734cb272
				.tag-e Toyota

				.hash-e 06b475a811e4d94a28535a071cb4c83e
				.score-circle-e 790

			.section-kl
				.header-ke Blocks
				.hash-e 5e50955e8ae19f7e87c097ef0840e455
				- el = { class: 'c-red-bg-g', headerText: 'IDENTIFIED AUDIENCE', bottomText: 'consumers', circleText:'94%' }
				include partials/header-tab

				.hash-e 5e50955e8ae19f7e87c097ef0840e455
				- el = { class: 'c-orange-bg-g', headerText: 'INDIRECT CONNECTIONS', bottomText: 'per tweeter', circleText:'400' }
				include partials/header-tab

				.hash-e 5e50955e8ae19f7e87c097ef0840e455
				- el = { class: 'c-green-bg-g', headerText: 'POTENTIAL REACH', bottomText: 'people', circleText:'10k' }
				include partials/header-tab

				.hash-e bd29d58273a1753588c87babd35aace2
				.fork-l.cf
					- el = { class: 'fork-item-l one-of-3-l c-red-bg-g', headerText: 'IDENTIFIED AUDIENCE', bottomText: 'Consumers', circleText:'94%' }
					include partials/header-tab

					- el = { class: 'fork-item-l one-of-3-l c-orange-bg-g', headerText: 'INDIRECT CONNECTIONS', bottomText: 'Per tweeter', circleText:'400' }
					include partials/header-tab

					- el = { class: 'fork-item-l one-of-3-l c-green-bg-g', headerText: 'POTENTIAL REACH', bottomText: 'People', circleText:'10k' }
					include partials/header-tab

				.hash-e 766dfcc19fb177a6f7f8cca6aa9c33d5
				- el = { class: 'c-blue-bg-g', headerText: '@Sergey_Valiukh', bottomText: 'Sergey Valiukh', bottomTextCnt: '121' }
				include partials/header-tab-user
				
				.hash-e 7f2ec201ce0694f22a08f2e065c4b735
				- el = { class: '', iconPath: 'demographics-icon', text: 'Demographics'}
				include partials/sidebar-menu-header

				.hash-e 2c93e10d29f23bbaa0844ef81feb5a51
				- el = { class: 'is-green-mark--onhover', iconPath: 'demographics-icon', text: 'Demographics'}
				include partials/sidebar-menu-header

				.hash-e 89a64cab9779a3f80167d765346da7dc
				- el = { class: 'is-green-mark--oncheck is-check', iconPath: 'demographics-icon', text: 'Demographics'}
				include partials/sidebar-menu-header

				.hash-e d1e432df9dd03b8786e08e00be1af00b
				- el = { class: 'is-red-mark--onhover', iconPath: 'demographics-icon', text: 'Demographics'}
				include partials/sidebar-menu-header

				.hash-e b037867e34073d50bc30c547ef697510
				- el = { class: 'is-red-mark--oncheck is-check', iconPath: 'demographics-icon', text: 'Demographics'}
				include partials/sidebar-menu-header

				.hash-e 7895ef2ac47dc8930de8e801bf16631f
				- el = { class: 'is-orange-mark--onhover', iconPath: 'demographics-icon', text: 'Demographics'}
				include partials/sidebar-menu-header

				.hash-e 94d4b3d2ffb0210adad361abff10ae9d
				- el = { class: 'is-orange-mark--oncheck is-check', iconPath: 'demographics-icon', text: 'Demographics'}
				include partials/sidebar-menu-header

				.hash-e 920b75c3286f0a753b6d5a2527f87848
				- el = { class: 'is-blue-mark--onhover', iconPath: 'demographics-icon', text: 'Demographics'}
				include partials/sidebar-menu-header

				.hash-e 585e0eea8bf3b174ab35ecde0019781c
				- el = { class: 'is-blue-mark--oncheck is-check', iconPath: 'demographics-icon', text: 'Demographics'}
				include partials/sidebar-menu-header


				.hash-e 4ac89d84f8813a1b3b341bbfe8cf212c
				.sidebar-menu-section-l
					- el = { class: 'is-green-mark--onhover', iconPath: 'demographics-icon', text: 'Demographics'}
					include partials/sidebar-menu-header
					- el = { class: 'is-red-mark--onhover', iconPath: 'geo-icon', text: 'Geo-Location'}
					include partials/sidebar-menu-header
					- el = { class: 'is-orange-mark--onhover', iconPath: 'education-icon', text: 'Career/Education'}
					include partials/sidebar-menu-header
					- el = { class: 'is-blue-mark--onhover', iconPath: 'social-icon', text: 'Social Media Use'}
					include partials/sidebar-menu-header

				.sidebar-menu-section-l
					- el = { class: 'is-green-mark--onhover', iconPath: 'interests-icon', text: 'Interests'}
					include partials/sidebar-menu-header
					- el = { class: 'is-red-mark--oncheck is-check', iconPath: 'brands-icon', text: 'Brands'}
					include partials/sidebar-menu-header
					- el = { class: 'is-orange-mark--onhover', iconPath: 'celebrities-icon', text: 'Celebrities'}
					include partials/sidebar-menu-header
					- el = { class: 'is-blue-mark--onhover', iconPath: 'tv-icon', text: 'TV Shows'}
					include partials/sidebar-menu-header

				.hash-e d7a0268c5d178625cbdfa5d991e4d1c0
				div
					- el = { class: 'is-green-mark--oncheck is-check', iconPath: 'education-icon', text: 'Education'}
					include partials/sidebar-menu-header-sub

					- el = { class: 'is-green-mark--onhover', iconPath: 'energy-icon', text: 'Energy, Utilities & Waste'}
					include partials/sidebar-menu-header-sub

					- el = { class: 'is-green-mark--onhover', iconPath: 'entertainment-icon', text: 'Entertainment'}
					include partials/sidebar-menu-header-sub

				.hash-e d84c296da7e868f14576fd70abc03cee
				div
					- el = { class: 'is-green-mark--onhover is-sub2', iconPath: 'automotive-icon', text: 'Art & Culture'}
					include partials/sidebar-menu-header-sub

					- el = { class: 'is-green-mark--oncheck is-sub2 is-check', iconPath: 'automotive-icon', text: 'Dance'}
					include partials/sidebar-menu-header-sub

					- el = { class: 'is-green-mark--onhover is-sub2', iconPath: 'automotive-icon', text: 'Movie Theatres'}
					include partials/sidebar-menu-header-sub

				.hash-e f718f3c840abc57ca063892cf84b6aeb
				div
					- el = { class: 'is-green-mark--onhover is-sub3', iconPath: 'automotive-icon', text: 'Art & Culture'}
					include partials/sidebar-menu-header-sub

					- el = { class: 'is-green-mark--oncheck is-sub3 is-check', iconPath: 'automotive-icon', text: 'Dance'}
					include partials/sidebar-menu-header-sub

					- el = { class: 'is-green-mark--onhover is-sub3', iconPath: 'automotive-icon', text: 'Movie Theatres'}
					include partials/sidebar-menu-header-sub




				.hash-e 217c0a46b063374e01ce9556998a9325
				.sidebar-menu-section-l
					- el = { class: 'is-green-mark--onhover', iconPath: 'demographics-icon', text: 'Demographics'}
					include partials/sidebar-menu-header
					- el = { class: 'is-red-mark--onhover', iconPath: 'geo-icon', text: 'Geo-Location'}
					include partials/sidebar-menu-header
					- el = { class: 'is-orange-mark--onhover', iconPath: 'education-icon', text: 'Career/Education'}
					include partials/sidebar-menu-header
					- el = { class: 'is-blue-mark--onhover', iconPath: 'social-icon', text: 'Social Media Use'}
					include partials/sidebar-menu-header

					
				.sidebar-menu-section-l
					- el = { class: 'is-green-mark--onhover', iconPath: 'interests-icon', text: 'Interests'}
					include partials/sidebar-menu-header
					- el = { itemClass: 'is-open', class: 'is-red-mark--oncheck is-check', iconPath: 'brands-icon', text: 'Brands'}
					include partials/sidebar-menu-header
						- el = { class: 'is-green-mark--onhover', iconPath: 'automotive-icon', text: 'Automotive'}
						include partials/sidebar-menu-header-sub
						- el = { class: 'is-green-mark--oncheck', iconPath: 'education-icon', text: 'Education'}
						include partials/sidebar-menu-header-sub
						- el = { class: 'is-green-mark--onhover', iconPath: 'energy-icon', text: 'Energy, Utilities & Waste'}
						include partials/sidebar-menu-header-sub
						- el = { itemClass: 'is-open', class: 'is-green-mark--oncheck is-check', iconPath: 'entertainment-icon', text: 'Entertainment'}
						include partials/sidebar-menu-header-sub
							- el = { class: 'is-green-mark--onhover is-sub2', iconPath: 'automotive-icon', text: 'Art & Culture'}
							include partials/sidebar-menu-header-sub
							- el = { class: 'is-green-mark--oncheck is-sub2', iconPath: 'automotive-icon', text: 'Dance'}
							include partials/sidebar-menu-header-sub
							- el = { itemClass: 'is-open', class: 'is-green-mark--oncheck is-check is-sub2', iconPath: 'automotive-icon', text: 'Movie Theatres'}
							include partials/sidebar-menu-header-sub
								- el = { class: 'is-green-mark--onhover is-sub3', iconPath: 'automotive-icon', text: 'Art & Culture'}
								include partials/sidebar-menu-header-sub
								- el = { class: 'is-green-mark--oncheck is-sub3 is-check', iconPath: 'automotive-icon', text: 'Dance'}
								include partials/sidebar-menu-header-sub
								- el = { class: 'is-green-mark--onhover is-sub3', iconPath: 'automotive-icon', text: 'Movie Theatres'}
								include partials/sidebar-menu-header-sub

					- el = { class: 'is-orange-mark--onhover', iconPath: 'celebrities-icon', text: 'Celebrities'}
					include partials/sidebar-menu-header
					- el = { class: 'is-blue-mark--onhover', iconPath: 'tv-icon', text: 'TV Shows'}
					include partials/sidebar-menu-header
					

			.hash-e 18ec867773b0af97d00745d5be079931
			include partials/social-share
			
			.hash-e f934d17cc3f0e13f69feaa928d6fbd22
			.footer-about-b
				.header-be ABOUT
				a(href="#").item-be.is-hoverable PeekYou LLC
				a(href="#").item-be.is-hoverable PeekAnalytics
				a(href="#").item-be.is-hoverable Contact Us
				a(href="#").item-be.is-hoverable People Search

			.hash-e c2f329ceefdef1792b46bee211d07d4f
			include partials/footer-about
			
			.hash-e 98563fbea95348eb229352f8427d95a1
			.footer-copyright-b © Copyright 2013 PeekAnalytics, Inc. A Patent Pending People Search Process. All Rights Reserved

			.hash-e fb6b0a6ab7177befac542483227c1271
			include partials/footer

			.hash-e eac9a691442f03ebe1084a0a6eb30f5a
			.score-b.cf
				.score-circle-e 790
				.text-be automotive

			.hash-e 28e600295c499dc709c3b1061c506e47
			.score-b.cf.is-plain-text
				.score-circle-e 790
				.text-be automotive

			.hash-e	d9d692570bbad4dc7dea4e95e8a18527
			.progressbar-b
				.text-be 20%

			.hash-e	7dc4c922c1ff5acf6bee4602fd6b2656
			.progressbar-b.is-average
				.text-be 20%











					










					




				










