!!!5
html
	head
		meta(charset='UTF-8')
		title stat social
		link(rel="stylesheet", type="text/css", href="main.css")
		link(rel="stylesheet", type="text/css", href="assets/kit.css")
		link(href='http://fonts.googleapis.com/css?family=PT+Sans', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700', rel='stylesheet', type='text/css')
	body
		include icons.svg
		.main-kl
			.section-kl
				.header-ke Colors
				.cf 
					.color-sample-ke.c-black1-bg-g
					.color-sample-ke.c-black2-bg-g
					.color-sample-ke.c-black3-bg-g
					.color-sample-ke.c-black4-bg-g
					.color-sample-ke.c-black5-bg-g
					.color-sample-ke.c-black6-bg-g
					.color-sample-ke.c-black7-bg-g
					.color-sample-ke.c-black8-bg-g
					.color-sample-ke.c-black9-bg-g
					.color-sample-ke.c-black10-bg-g

				.cf
					.color-sample-ke.c-blue1-bg-g
					.color-sample-ke.c-blue2-bg-g
					.color-sample-ke.c-blue3-bg-g
					.color-sample-ke.c-blue4-bg-g

				.cf
					.color-sample-ke.c-grey1-bg-g
					.color-sample-ke.c-grey2-bg-g

				.cf
					.color-sample-ke.c-red-bg-g
					.color-sample-ke.c-orange-bg-g
					.color-sample-ke.c-green-bg-g

			- var el = {}

			.section-kl
				.header-ke Icons
				.cf 
					.icon-sample-kl
						.hash-e e8927b78df844bde0a5122e14d346032
						- el = { path: 'youtube-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 710766b0b43d5a5f681e63f32fbf9771
						- el = { path: 'twitter-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 93a0906c869a433ee6ca046cca750a28
						- el = { path: 'instagram-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 93e854b40b0a3bc639eb835cb4c93264
						- el = { path: 'fb-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 8e208b58ad3e76d4e8f319c20a462c3b
						- el = { path: 'automotive-icon' }
						include partials/icon


					.icon-sample-kl
						.hash-e fb36ac24f835eeda24e4b26cacd10279
						- el = { path: 'tv-icon' }
						include partials/icon


					.icon-sample-kl
						.hash-e bd0843afe4d69813738a8c03e0371a6f
						- el = { path: 'social-icon' }
						include partials/icon


					.icon-sample-kl
						.hash-e 7b89519965ce54ec236609b45b1dd9c1
						- el = { path: 'celebrities-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 5f313810199d5e0533364ed26e3dc408
						- el = { path: 'interests-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 85c6c30c97bad48f711fffdce2b2abd2
						- el = { path: 'geo-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 7c476e368012a516986f85008a5e9e28
						- el = { path: 'entertainment-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 43519269e87d6cec5c247dc3198d7742
						- el = { path: 'energy-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 82b863d15f890174e85894750fdbab95
						- el = { path: 'demographics-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 2e8a10e14ae84a0df9da0bce26cf86c1
						- el = { path: 'education-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 161c7338edb325811dfb829b19110dbc
						- el = { path: 'cross-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 8b784c6f17cd3e41cc83db9772ff71cd
						- el = { path: 'brands-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e cf9350838fc85aeb1cfa6c7f0d128d5e
						- el = { path: 'book-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 270032ce90a6e8fb0576e8fbd82c82a5
						- el = { path: 'career-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 36c8d51a05ab98a2234880611738577e
						- el = { path: 'income-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 627b99dba042f34b39aac6a4fee1138f
						- el = { path: 'gender-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 080cb2eae64da1a59630000e8ee4bbd5
						- el = { path: 'male-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e a0d4c46d4d63a538c26f0ece721b9a2d
						- el = { path: 'female-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e eb09c3b9138a3a94b39cd79ad5dd4419
						- el = { path: 'pie-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 9ed9dcc59c8d8e6ff3da23a637756c97
						- el = { path: 'globe-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 6f48214a051ef804859e26048d9c9163
						- el = { path: 'capitoli-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e a5cef567a1a245a024de6483a1632f53
						- el = { path: 'downtown-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e ae626e9443849d769010054a74540209
						- el = { path: 'share-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 37280f8c09f31f8fecb20787c385eb41
						- el = { path: 'facebook2-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e fb227a8147c333f01b2c5a4977c29bd6
						- el = { path: 'google-plus-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 4eed934a8d6583a24b0ace7618ad556e
						- el = { path: 'message1-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 68eedb356f6772ef563b0190b0d03e4b
						- el = { path: 'message2-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 4dbc01d516782d47577fc85f67abdd8f
						- el = { path: 'message3-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 71a77ae0543830d06614d99cf0dbc385
						- el = { path: 'script-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 07f2d06d946a85a3fe26257b98071847
						- el = { path: 'foursquare-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 29a7b2accef78e5306c0f1aefbf11fce
						- el = { path: 'myspace-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e e797616406b2825bd30733794103f39b
						- el = { path: 'quora-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e cac355ea25eb90512b51ea72e5a02718
						- el = { path: 'blogging-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 1f3919b51d3daee741a55a1f4097d3c1
						- el = { path: 'calendar-icon' }
						include partials/icon





					.icon-sample-kl
						.hash-e 8eb4c1f48d6cbfca0cdd16a477b2a889
						- el = { path: 'search-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e b49d54fc93da891d5e664cb51d9eff94
						- el = { path: 'cross2-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 37e98bf79b411f4b4d1470f90db0898d
						- el = { path: 'minus-icon' }
						include partials/icon

					.icon-sample-kl
						.hash-e 90937ea30a91f0fd95afaf3dc1b400e9
						- el = { path: 'level-up-icon' }
						include partials/icon



			.section-kl
				.header-ke Elements
				
				.hash-e	b3044e2de680ec5af4ff8820322551be
				include partials/legend-circle
					
				.hash-e ace9dbb0b4ae04bd624d0ee427e904ce
				- el = { class:'', text: ' North America' }
				include partials/btn

				.hash-e da879774d3387b447113e42503b704a5
				- el = { class:'is-hoverable', text: ' North America' }
				include partials/btn

				.hash-e b7fd66c98927030c63e5bc85e79603cf
				- el = { class: '', text: '' }
				include partials/tab-circle

				.hash-e 91f28e51a4cffb32caebcda1cbff41fe
				- el = { class: 'is-number', text: '94%' }
				include partials/tab-circle

				.hash-e cdeb25bb27099cc9d30dba3b4270f374
				- el = { class: 'is-icon', text: '' }
				include partials/tab-circle
					- el = { path: 'twitter-icon' }
					include partials/icon

				.hash-e c39be41115f94c1c17bbf581d77838c8
				.sidebar-logo-e STAT SOCIAL

				.hash-e 75265e958b07e0885d471fb3734cb272
				- el = { class: '', text: 'Toyota'}
				include partials/tag

				.hash-e 15fcd56a987540e02de37396809fa400
				- el = { class: 'is-hoverable', text: 'Toyota'}
				include partials/tag

				.hash-e 4666827a7e2b3e760808931f1179d353
				.tags-l
					.tag-cell-ll
						- el = { class: 'is-hoverable', text: 'Toyota'}
						include partials/tag
					.tag-cell-ll
						- el = { class: 'is-hoverable', text: 'Ford'}
						include partials/tag
					.tag-cell-ll
						- el = { class: 'is-hoverable', text: 'Lexus'}
						include partials/tag

				.hash-e 06b475a811e4d94a28535a071cb4c83e
				.score-circle-e 790

				.hash-e 6c129f16dd96d06fdb801cdce1eed660
				.multiply-e 0.6x

				.hash-e 19f71a51c0d5bed322aa620bdba5e4cc
				.multiply-e.is-blue 0.6x

				.hash-e 03527a628e0b98800ec8e54c277c2537
				- el = {class: 'is-hoverable' }
				include partials/filter-input-btn

				.hash-e 5801e7f09d0f8e4dbde8b9f1d4978dff
				- el = { class: 'is-hoverable is-focusable', placeholder: "enter brand name...", id: ''}
				include partials/filter-input
				
				.hash-e 1cbc1220e27421d2e68a567e40c562c6
				include partials/filter

				.hash-e	e50b6b0661c5b836b19ce0b7ad3599fc
				- el = { class: '', text: 'all brands' }
				include partials/header-label

				.hash-e	2f59ddffa7cf1041a9c817881c99e026
				- el = { class: 'is-hoverable', text: 'all brands' }
				include partials/header-label

				.hash-e	4fe69c9509a14eccc99613a57d237109
				- el = { class: 'is-hoverable is-check ', text: 'all brands' }
				include partials/header-label

				.hash-e	a0d45e1d55926db1a43c3ac0529a9e76
				- el = { class: 'is-hoverable is-filter is-check', text: 'all brands' }
				include partials/header-label

				.hash-e 0ef89de3f0aed9ba26dc5b2d0ffd9361
				- el = { class: '' }
				include partials/labeled-filter

				.hash-e dea5e1ed0f2bb0093c5164c8f2869d08
				include partials/level-up-btn

				.hash-e 7cd6892560eb91e00cb49a245ef6d2a2
				- el = { text: 'all brands', class: '', labelClass: 'is-hoverable is-filter is-check', labelTag: '', labelFor: '' }
				include partials/header-label-n-button

				.hash-e 076b9e32d8a245d767dae9cfe883ee02
				- el = { text: 'all brands', class: 'is-level-up', labelClass: 'is-hoverable is-filter is-check', labelTag: '', labelFor: '' }
				include partials/header-label-n-button

				.hash-e 5aade023ce947703de824de6dc03e734
				- el = { class: '', text: 'date: 04/01/2013' }
				include partials/header-btn

				.hash-e a8dfa0dd565e655fe888df703af6da13
				- el = { class: 'is-hoverable', text: 'date: 04/01/2013' }
				include partials/header-btn

				.hash-e 16339d00bcc3f425453ba86e56bec4d6
				.header-btn-n-icon-b
					- el = { class: 'is-hoverable', text: 'date: 04/01/2013' }
					include partials/header-btn
					.icon-bl
						- el = { class: 'is-white is-hoverable', path: 'calendar-icon' }
						include partials/icon



				.hash-e e8a3335f585a152361961c90778b20c0
				- el = { class: '', text: 'Twitter', headerBtnClass: 'is-thin' }
				include partials/dropdown

				.hash-e 3e991cfe97376df1d09bc63782c7363c
				- el = { class: 'is-hoverable', text: 'Twitter', headerBtnClass: 'is-thin' }
				include partials/dropdown

				.hash-e 1627a810777655d87836a18e1ad993ed
				.named-dropdown-b
					.name-bl
						- el = { class: '', text: 'baseline:' }
						include partials/header-btn
					.dropdown-bl
						- el = { class: 'is-hoverable', text: 'Twitter', headerBtnClass: 'is-thin' }
						include partials/dropdown

				.hash-e f0f19a4ac7e477a75af490009a2c4b93
				- el = { class: '', text: '#coke' } 
				include partials/term



			.section-kl
				.header-ke Blocks

				.hash-e	f63b2b6affc1d7652fcd552280004a39
				- el = { class: '', color: '', text: 'California' } 
				include partials/legend-label

				.hash-e	b340dd6580044b2ee07cecd93867f1d2
				- el = { class: '', text: '1%', color: 'purple', value: '20' }
				- legendLabel = { class: '', text: 'California' } 
				include partials/legend-line

				.hash-e	27479f6152b26f43030ff29721d3fdbf
				ul.legend-pile-l
					- el = { class: '', text: '1%', color: 'purple', value: '20' }
					- legendLabel = { class: '', text: 'California' } 
					include partials/legend-line

					- el = { class: '', text: '2%', color: 'orange', value: '20' }
					- legendLabel = { class: '', text: 'California' } 
					include partials/legend-line

					- el = { class: '', text: '3%', color: 'white', value: '20' }
					- legendLabel = { class: '', text: 'California' } 
					include partials/legend-line



				.hash-e acd8c9c668e57ee90593410adec4b8c6
				.terms-block-b
					- el = { class: 'terms-block-b--cross-icon-bh', path: 'cross2-icon' }
					include partials/icon

					.header-be tracking the term(s):
					.terms-bl
						- el = { class: '', text: '#coke' } 
						include partials/term

						- el = { class: '', text: 'AND' } 
						include partials/term

						- el = { class: '', text: '#pepsi' } 
						include partials/term

						- el = { class: '', text: 'OR' } 
						include partials/term

						- el = { class: '', text: '@disney' } 
						include partials/term

						- el = { class: '', text: '#coke' } 
						include partials/term

						- el = { class: '', text: 'AND' } 
						include partials/term

						- el = { class: '', text: '#pepsi' } 
						include partials/term

						- el = { class: '', text: 'OR' } 
						include partials/term

						- el = { class: '', text: '@disney' } 
						include partials/term

				
				.hash-e de6575b1d4aa31323fdc22d108a1cd70
				- el = { class: '', iconPath: 'income-icon' }
				include partials/report-block-header

				.hash-e 91aa6491463d79061423fc2ea3a50ebe
				.report-block-header-b.cf
					- el = { path: 'pie-icon' }
					include partials/icon

					.text-be.is-hoverable Income
					.text-be.is-hoverable.is-check Males
					.text-be.is-hoverable Females


				.hash-e 1312a4cb67c1fced95de038209e0811f
				.followers-header-b
					- el = { class: 'export-bh is-hoverable', text: 'Export' }
					include partials/header-btn

					.header-btn-n-icon-b.date-bh
						- el = { class: 'is-hoverable', text: 'date: 04/01/2013' }
						include partials/header-btn
						.icon-bl
							- el = { class: 'is-white is-hoverable', path: 'calendar-icon' }
							include partials/icon

					.named-dropdown-b.baseline-bh
						.name-bl
							- el = { class: '', text: 'baseline:' }
							include partials/header-btn
						.dropdown-bl
							- el = { class: 'is-hoverable', text: 'Twitter', headerBtnClass: 'is-thin' }
							include partials/dropdown

				.hash-e 916d92f513be5496b49f168a07f9dde4
				.tweet-header-b
					- el = { class: 'header-bh', text: 'Tweet report' }
					include partials/header-btn

					- el = { class: 'export-bh is-hoverable', text: 'Export' }
					include partials/header-btn

					- el = { class: 'date-bh is-hoverable', text: ' from 04/01/2013 to 05/01/2014' }
					include partials/header-btn

					.named-dropdown-b.baseline-bh
						.name-bl
							- el = { class: '', text: 'baseline:' }
							include partials/header-btn
						.dropdown-bl
							- el = { class: 'is-hoverable', text: 'Twitter', headerBtnClass: 'is-thin' }
							include partials/dropdown


				.hash-e 5e50955e8ae19f7e87c097ef0840e455
				- el = { class: '', headerText: 'IDENTIFIED FOLLOWERS', bottomText: 'consumers', circleText:'94%' }
				include partials/header-tab

				.hash-e a838c27d872842d7de9d925c5d9579db
				- el = { class: 'is-check', headerText: 'IDENTIFIED FOLLOWERS', bottomText: 'consumers', circleText:'94%' }
				include partials/header-tab

				.hash-e aa986cb9908637840d10b761512bbf3a
				- el = { class: 'is-orange', headerText: 'FOLLOWERS', bottomText: 'per tweeter', circleText:'400' }
				include partials/header-tab

				.hash-e 12776eaaa51ff13155eb6900f62d084c
				- el = { class: 'is-green', headerText: 'TWITTER PULL', bottomText: 'people', circleText:'10k' }
				include partials/header-tab

				.hash-e bd29d58273a1753588c87babd35aace2
				.fork-l.cf
					- el = { class: 'fork-item-l one-of-3-l', headerText: 'IDENTIFIED FOLLOWERS', bottomText: 'Consumers', circleText:'94%' }
					include partials/header-tab

					- el = { class: 'fork-item-l one-of-3-l is-orange', headerText: 'FOLLOWERS', bottomText: 'Per tweeter', circleText:'400' }
					include partials/header-tab

					- el = { class: 'fork-item-l one-of-3-l is-green', headerText: 'TWITTER PULL', bottomText: 'People', circleText:'10k' }
					include partials/header-tab

				.hash-e 766dfcc19fb177a6f7f8cca6aa9c33d5
				- el = { class: 'is-blue', headerText: '@Sergey_Valiukh', bottomText: 'Sergey Valiukh' }
				include partials/header-tab-user
				
				.hash-e 7f2ec201ce0694f22a08f2e065c4b735
				- el = { class: '', iconPath: 'demographics-icon', text: 'Demographics'}
				include partials/sidebar-menu-header

				.hash-e 2c93e10d29f23bbaa0844ef81feb5a51
				- el = { class: 'is-green-mark--onhover', iconPath: 'demographics-icon', text: 'Demographics'}
				include partials/sidebar-menu-header

				.hash-e 89a64cab9779a3f80167d765346da7dc
				- el = { class: 'is-green-mark--oncheck is-check', iconPath: 'demographics-icon', text: 'Demographics'}
				include partials/sidebar-menu-header

				.hash-e d1e432df9dd03b8786e08e00be1af00b
				- el = { class: 'is-red-mark--onhover', iconPath: 'demographics-icon', text: 'Demographics'}
				include partials/sidebar-menu-header

				.hash-e b037867e34073d50bc30c547ef697510
				- el = { class: 'is-red-mark--oncheck is-check', iconPath: 'demographics-icon', text: 'Demographics'}
				include partials/sidebar-menu-header

				.hash-e 7895ef2ac47dc8930de8e801bf16631f
				- el = { class: 'is-orange-mark--onhover', iconPath: 'demographics-icon', text: 'Demographics'}
				include partials/sidebar-menu-header

				.hash-e 94d4b3d2ffb0210adad361abff10ae9d
				- el = { class: 'is-orange-mark--oncheck is-check', iconPath: 'demographics-icon', text: 'Demographics'}
				include partials/sidebar-menu-header

				.hash-e 920b75c3286f0a753b6d5a2527f87848
				- el = { class: 'is-blue-mark--onhover', iconPath: 'demographics-icon', text: 'Demographics'}
				include partials/sidebar-menu-header

				.hash-e 585e0eea8bf3b174ab35ecde0019781c
				- el = { class: 'is-blue-mark--oncheck is-check', iconPath: 'demographics-icon', text: 'Demographics'}
				include partials/sidebar-menu-header


				.hash-e 4ac89d84f8813a1b3b341bbfe8cf212c
				.sidebar-menu-section-l
					- el = { class: 'is-green-mark--onhover', iconPath: 'demographics-icon', text: 'Demographics'}
					include partials/sidebar-menu-header
					- el = { class: 'is-red-mark--onhover', iconPath: 'geo-icon', text: 'Geo-Location'}
					include partials/sidebar-menu-header
					- el = { class: 'is-orange-mark--onhover', iconPath: 'education-icon', text: 'Career/Education'}
					include partials/sidebar-menu-header
					- el = { class: 'is-blue-mark--onhover', iconPath: 'social-icon', text: 'Social Media Use'}
					include partials/sidebar-menu-header

				.sidebar-menu-section-l
					- el = { class: 'is-green-mark--onhover', iconPath: 'interests-icon', text: 'Interests'}
					include partials/sidebar-menu-header
					- el = { class: 'is-red-mark--oncheck is-check', iconPath: 'brands-icon', text: 'Brands'}
					include partials/sidebar-menu-header
					- el = { class: 'is-orange-mark--onhover', iconPath: 'celebrities-icon', text: 'Celebrities'}
					include partials/sidebar-menu-header
					- el = { class: 'is-blue-mark--onhover', iconPath: 'tv-icon', text: 'TV Shows'}
					include partials/sidebar-menu-header

				.hash-e d7a0268c5d178625cbdfa5d991e4d1c0
				div
					- el = { class: 'is-green-mark--oncheck is-check', iconPath: 'education-icon', text: 'Education'}
					include partials/sidebar-menu-header-sub

					- el = { class: 'is-green-mark--onhover', iconPath: 'energy-icon', text: 'Energy, Utilities & Waste'}
					include partials/sidebar-menu-header-sub

					- el = { class: 'is-green-mark--onhover', iconPath: 'entertainment-icon', text: 'Entertainment'}
					include partials/sidebar-menu-header-sub

				.hash-e d84c296da7e868f14576fd70abc03cee
				div
					- el = { class: 'is-green-mark--onhover is-sub2', iconPath: 'automotive-icon', text: 'Art & Culture'}
					include partials/sidebar-menu-header-sub

					- el = { class: 'is-green-mark--oncheck is-sub2 is-check', iconPath: 'automotive-icon', text: 'Dance'}
					include partials/sidebar-menu-header-sub

					- el = { class: 'is-green-mark--onhover is-sub2', iconPath: 'automotive-icon', text: 'Movie Theatres'}
					include partials/sidebar-menu-header-sub

				.hash-e f718f3c840abc57ca063892cf84b6aeb
				div
					- el = { class: 'is-green-mark--onhover is-sub3', iconPath: 'automotive-icon', text: 'Art & Culture'}
					include partials/sidebar-menu-header-sub

					- el = { class: 'is-green-mark--oncheck is-sub3 is-check', iconPath: 'automotive-icon', text: 'Dance'}
					include partials/sidebar-menu-header-sub

					- el = { class: 'is-green-mark--onhover is-sub3', iconPath: 'automotive-icon', text: 'Movie Theatres'}
					include partials/sidebar-menu-header-sub




				.hash-e 217c0a46b063374e01ce9556998a9325
				.sidebar-menu-section-l
					- el = { class: 'is-green-mark--onhover', iconPath: 'demographics-icon', text: 'Demographics'}
					include partials/sidebar-menu-header
					- el = { class: 'is-red-mark--onhover', iconPath: 'geo-icon', text: 'Geo-Location'}
					include partials/sidebar-menu-header
					- el = { class: 'is-orange-mark--onhover', iconPath: 'education-icon', text: 'Career/Education'}
					include partials/sidebar-menu-header
					- el = { class: 'is-blue-mark--onhover', iconPath: 'social-icon', text: 'Social Media Use'}
					include partials/sidebar-menu-header

					
				.sidebar-menu-section-l
					- el = { class: 'is-green-mark--onhover', iconPath: 'interests-icon', text: 'Interests'}
					include partials/sidebar-menu-header
					- el = { itemClass: 'is-open', class: 'is-red-mark--oncheck is-check', iconPath: 'brands-icon', text: 'Brands'}
					include partials/sidebar-menu-header
						- el = { class: 'is-green-mark--onhover', iconPath: 'automotive-icon', text: 'Automotive'}
						include partials/sidebar-menu-header-sub
						- el = { class: 'is-green-mark--oncheck', iconPath: 'education-icon', text: 'Education'}
						include partials/sidebar-menu-header-sub
						- el = { class: 'is-green-mark--onhover', iconPath: 'energy-icon', text: 'Energy, Utilities & Waste'}
						include partials/sidebar-menu-header-sub
						- el = { itemClass: 'is-open', class: 'is-green-mark--oncheck is-check', iconPath: 'entertainment-icon', text: 'Entertainment'}
						include partials/sidebar-menu-header-sub
							- el = { class: 'is-green-mark--onhover is-sub2', iconPath: 'automotive-icon', text: 'Art & Culture'}
							include partials/sidebar-menu-header-sub
							- el = { class: 'is-green-mark--oncheck is-sub2', iconPath: 'automotive-icon', text: 'Dance'}
							include partials/sidebar-menu-header-sub
							- el = { itemClass: 'is-open', class: 'is-green-mark--oncheck is-check is-sub2', iconPath: 'automotive-icon', text: 'Movie Theatres'}
							include partials/sidebar-menu-header-sub
								- el = { class: 'is-green-mark--onhover is-sub3', iconPath: 'automotive-icon', text: 'Art & Culture'}
								include partials/sidebar-menu-header-sub
								- el = { class: 'is-green-mark--oncheck is-sub3 is-check', iconPath: 'automotive-icon', text: 'Dance'}
								include partials/sidebar-menu-header-sub
								- el = { class: 'is-green-mark--onhover is-sub3', iconPath: 'automotive-icon', text: 'Movie Theatres'}
								include partials/sidebar-menu-header-sub

					- el = { class: 'is-orange-mark--onhover', iconPath: 'celebrities-icon', text: 'Celebrities'}
					include partials/sidebar-menu-header
					- el = { class: 'is-blue-mark--onhover', iconPath: 'tv-icon', text: 'TV Shows'}
					include partials/sidebar-menu-header
					

			.hash-e 18ec867773b0af97d00745d5be079931
			include partials/social-share
			
			.hash-e f934d17cc3f0e13f69feaa928d6fbd22
			.footer-about-b
				.header-be ABOUT
				a(href="#").item-be.is-hoverable PeekYou LLC
				a(href="#").item-be.is-hoverable PeekAnalytics
				a(href="#").item-be.is-hoverable Contact Us
				a(href="#").item-be.is-hoverable People Search

			.hash-e c2f329ceefdef1792b46bee211d07d4f
			include partials/footer-about
			
			.hash-e 98563fbea95348eb229352f8427d95a1
			.footer-copyright-b © Copyright 2013 PeekAnalytics, Inc. A Patent Pending People Search Process. All Rights Reserved

			.hash-e fb6b0a6ab7177befac542483227c1271
			include partials/footer

			.hash-e eac9a691442f03ebe1084a0a6eb30f5a
			- el = { class: '', number: '790', text: 'automotive' }
			include partials/score

			.hash-e b0f99a28beadd654f34d55311e88d2da
			- el = { class: 'is-hoverable', number: '790', text: 'automotive' }
			include partials/score

			.hash-e 28e600295c499dc709c3b1061c506e47
			- el = { class:'is-plain-text', number: '790', text: 'automotive' }
			include partials/score

			.hash-e	d9d692570bbad4dc7dea4e95e8a18527
			div(style="width:200px")
				- el = { text: '20%', percent: '150%' }
				include partials/svgbar

			.hash-e	8d291bad4675df8002e34cece6c51302
			div(style="width:200px")
				- el = { text: '20%', percent: '150%', class: 'is-average' }
				include partials/svgbar

			.hash-e	3b75ff5b211c22a36dc9c88995cf9cf2
			div(style="width:200px")
				- el = { text: '20%', percent: '150%', class: 'is-grey' }
				include partials/svgbar

			.hash-e	193c04bc08d7974d02c9a8b4c855ddc0
			- el = { class: '' }
			- svgbar1 = { text: '30%', percent: '150%', class: '' }
			- svgbar2 = { text: '20%', percent: '', class: 'is-grey is-average' }
			include partials/svgbars



			.hash-e	1f6ae71e1a5e12c00650eefc7b9a3b6d
			.pie-graph-b(style="width:170px")
				#svg.pie-graph-b--pie-bh
				ul.legend-pile-l(data-pie-id='svg')
					- el = { class: 'is-hoverable', text: '1%', color: '#9adffc', value: '10' }
					- legendLabel = { class: '', text: 'California' } 
					include partials/legend-line

					- el = { class: 'is-hoverable', text: '7%', color: '#83d6f8', value: '7' }
					- legendLabel = { class: '', text: 'Alabama' } 
					include partials/legend-line

					- el = { class: 'is-hoverable', text: '26%', color: '#69ccf5', value: '24' }
					- legendLabel = { class: '', text: 'Florida' } 
					include partials/legend-line

					- el = { class: 'is-hoverable', text: '27%', color: '#35b1e4', value: '23' }
					- legendLabel = { class: '', text: 'New York' } 
					include partials/legend-line

					- el = { class: 'is-hoverable', text: '23%', color: '#2897c4', value: '23' }
					- legendLabel = { class: '', text: 'Texas' } 
					include partials/legend-line

					- el = { class: 'is-hoverable', text: '16%', color: '#278bb3', value: '12' }
					- legendLabel = { class: '', text: 'Other' } 
					include partials/legend-line

			.hash-e	6aeadca45acd961bbb02b4a0f841699c
			div(style="width:25%")
				#svg-fa27b03eb776ff69c12b0ebf736495ee.pie-graph-b--pie-bh
				ul(data-pie-id='svg-fa27b03eb776ff69c12b0ebf736495ee', data-options='{"donut":"true","mode":"donut-path","text": "IDENTIFIED TWEETERS"}')
					//- THE ORDER IS SIGNIFICANT
					li(data-color="#f9c77f", data-value="75")
					li(data-color="#ff6d6a", data-value="5")
					li(data-color="#3ebbee", data-value="20")


			.hash-e	610018334d91f58d410069b3ec14562c
			div(style="width:350px")
				#svg-610018334d91f58d410069b3ec14562c.pie-graph-b--pie-bh
				ul(data-pie-id='svg-610018334d91f58d410069b3ec14562c', data-options='{"mode":"circle","content": "icon", "textMain": "content being tracked", "textLeft":"people following them", "textLeft2":"10,000", "textRight":"people tweeting it", "textRight2":"170"}')
					//- THE ORDER IS SIGNIFICANT
					li(data-color="#6cead1")
					li(data-color="#29dcb8", data-value="50")

			.hash-e	95d32e731c8f98cc34c9325f7589b0ad
			div(style="width:350px")
				#svg-95d32e731c8f98cc34c9325f7589b0ad.pie-graph-b--pie-bh
				ul(data-pie-id='svg-95d32e731c8f98cc34c9325f7589b0ad', data-options='{"mode":"circle","content": "https://pbs.twimg.com/profile_images/378800000858075549/nvy-OAxF.png", "textMain": "@mailtolego", "textLeft":"their followers", "textLeft2":"200,000", "textRight":"its followers", "textRight2":"170"}')
					//- THE ORDER IS SIGNIFICANT
					li(data-color="#6cead1")
					li(data-color="#29dcb8", data-value="50")


			//- DEPRECATED ------------------------------------------------------
			.deprecated-kg
				.hash-e	d9d692570bbad4dc7dea4e95e8a18527
				- el = { class:'', text: '20%' }
				include partials/progressbar

				.hash-e	7dc4c922c1ff5acf6bee4602fd6b2656
				- el = { class:'is-average', text: '20%' }
				include partials/progressbar

				.hash-e	ba39589ca648fcd17017c8fe7d998684
				- el = { class:'is-grey is-average', text: '20%' }
				include partials/progressbar

				.hash-e	1daa735ce39ed3b9367a5cd3415bc138
				- el = { class:'is-striped', text: '' }
				include partials/progressbar

				.hash-e 6429dbfbb7c20e73e549c48a40c3fc3f
				.progressbars-l.cf
					.left-ll
						- el = { class:'', text: '20%' }
						include partials/progressbar					
					.right-ll
						- el = { class:'is-striped', text: '' }
						include partials/progressbar			

				.hash-e 2267092b2d5496cfce2d1accf804b5e9
				.progressbar-pile-l
					.progressbars-l.cf
						.left-ll
							- el = { class:'', text: '20%' }
							include partials/progressbar					
						.right-ll
							- el = { class:'is-striped', text: '' }
							include partials/progressbar			

					.progressbars-l.cf
						.left-ll
							- el = { class:'is-grey is-average', text: '16%' }
							include partials/progressbar		
			
			//- DEPRECATED ------------------------------------------------------

			.hash-e 90ef8d2448cfbc7e97abb0e374db4870
			.table-line-b.cf
				.score-bl.column-bh
					- el = { class:'', number: '790', text: 'automotive' }
					include partials/score

				.progressbars-bl.column-bh
					- el = { class: '' }
					- svgbar1 = { text: '30%', percent: '150%', class: '' }
					- svgbar2 = { text: '20%', percent: '', class: 'is-grey is-average' }
					include partials/svgbars

				.multiply-bl.column-bh
					.multiply-e 0.6x

				.tags-bl.column-bh
					.tags-l
						.tag-cell-ll
							- el = { class: 'is-hoverable', text: 'Toyota'}
							include partials/tag
						.tag-cell-ll
							- el = { class: 'is-hoverable', text: 'Ford'}
							include partials/tag
						.tag-cell-ll
							- el = { class: 'is-hoverable', text: 'Lexus'}
							include partials/tag

			.hash-e e69ecf7ab9dee0358c04a4ad1c3932f7
			.table-body-b
				.table-line-b.cf
					.score-bl.column-bh
						- el = { class:'', number: '790', text: 'automotive' }
						include partials/score

					.progressbars-bl.column-bh
						- el = { class: '' }
						- svgbar1 = { text: '30%', percent: '150%', class: '' }
						- svgbar2 = { text: '20%', percent: '', class: 'is-grey is-average' }
						include partials/svgbars

					.multiply-bl.column-bh
						.multiply-e 0.6x

					.tags-bl.column-bh
						.tags-l
							.tag-cell-ll
								- el = { class: 'is-hoverable', text: 'Toyota'}
								include partials/tag
							.tag-cell-ll
								- el = { class: 'is-hoverable', text: 'Ford'}
								include partials/tag
							.tag-cell-ll
								- el = { class: 'is-hoverable', text: 'Lexus'}
								include partials/tag

				.table-line-b.cf
					.score-bl.column-bh
						- el = { class:'', number: '280', text: 'education' }
						include partials/score

					.progressbars-bl.column-bh
						- el = { class: '' }
						- svgbar1 = { text: '30%', percent: '150%', class: '' }
						- svgbar2 = { text: '20%', percent: '', class: 'is-grey is-average' }
						include partials/svgbars

					.multiply-bl.column-bh
						.multiply-e.is-blue 4.5x

					.tags-bl.column-bh
						.tags-l
							.tag-cell-ll
								- el = { class: 'is-hoverable', text: 'Harvard'}
								include partials/tag
							.tag-cell-ll
								- el = { class: 'is-hoverable', text: 'Upenn'}
								include partials/tag
							.tag-cell-ll
								- el = { class: 'is-hoverable', text: 'MIT'}
								include partials/tag

				.table-line-b.cf
					.score-bl.column-bh
						- el = { class:'', number: '560', text: 'entertainment' }
						include partials/score

					.progressbars-bl.column-bh
						- el = { class: '' }
						- svgbar1 = { text: '30%', percent: '150%', class: '' }
						- svgbar2 = { text: '20%', percent: '', class: 'is-grey is-average' }
						include partials/svgbars

					.multiply-bl.column-bh
						.multiply-e.is-yellow 1.6x

					.tags-bl.column-bh
						.tags-l
							.tag-cell-ll
								- el = { class: 'is-hoverable', text: 'Youtube'}
								include partials/tag
							.tag-cell-ll
								- el = { class: 'is-hoverable', text: 'CNN'}
								include partials/tag
							.tag-cell-ll
								- el = { class: 'is-hoverable', text: 'TVo'}
								include partials/tag


				.table-line-b.cf
					.score-bl.column-bh
						- el = { class:'', number: '790', text: 'energy & utilities' }
						include partials/score

					.progressbars-bl.column-bh
						- el = { class: '' }
						- svgbar1 = { text: '30%', percent: '150%', class: '' }
						- svgbar2 = { text: '20%', percent: '', class: 'is-grey is-average' }
						include partials/svgbars

					.multiply-bl.column-bh
						.multiply-e.is-blue 9.6x

					.tags-bl.column-bh
						.tags-l
							.tag-cell-ll
								- el = { class: 'is-hoverable', text: 'ConEd'}
								include partials/tag
							.tag-cell-ll
								- el = { class: 'is-hoverable', text: 'Shell'}
								include partials/tag
							.tag-cell-ll
								- el = { class: 'is-hoverable', text: 'Bp'}
								include partials/tag

			.hash-e ac663d1953ac4a7a79d75f8fe63ced45
			.table-line-header-b
				.score-bl.column-bh
					- el = { inputId: '' }
					include partials/labeled-filter
				.progressbars-bl.column-bh 		
					- el = { class: 'is-hoverable', text: 'followers vs. baseline' }
					include partials/header-label
				.multiply-bl.column-bh
					- el = { class: 'is-hoverable', text: 'muliply' }
					include partials/header-label
				.tags-bl.column-bh 
					- el = { class: 'is-hoverable', text: 'top three' }
					include partials/header-label

			.hash-e 31203fd954da2559c78f15a3c01de3b2
			.table-b
				.table-line-header-b
					.score-bl.column-bh
						- el = { inputId: 'filter-input' }
						include partials/labeled-filter
					.progressbars-bl.column-bh 		
						- el = { class: 'is-hoverable', text: 'followers vs. baseline' }
						include partials/header-label
					.multiply-bl.column-bh
						- el = { class: 'is-hoverable', text: 'muliply' }
						include partials/header-label
					.tags-bl.column-bh 
						- el = { class: 'is-hoverable', text: 'top three' }
						include partials/header-label


				.table-body-b
					.table-line-b.cf
						.score-bl.column-bh
							- el = { class:'', number: '790', text: 'automotive' }
							include partials/score

						.progressbars-bl.column-bh
							- el = { class: '' }
							- svgbar1 = { text: '30%', percent: '150%', class: '' }
							- svgbar2 = { text: '20%', percent: '', class: 'is-grey is-average' }
							include partials/svgbars

						.multiply-bl.column-bh
							.multiply-e 0.6x

						.tags-bl.column-bh
							.tags-l
								.tag-cell-ll
									- el = { class: 'is-hoverable', text: 'Toyota'}
									include partials/tag
								.tag-cell-ll
									- el = { class: 'is-hoverable', text: 'Ford'}
									include partials/tag
								.tag-cell-ll
									- el = { class: 'is-hoverable', text: 'Lexus'}
									include partials/tag

					.table-line-b.cf
						.score-bl.column-bh
							- el = { class:'', number: '280', text: 'education' }
							include partials/score

						.progressbars-bl.column-bh
							- el = { class: '' }
							- svgbar1 = { text: '30%', percent: '150%', class: '' }
							- svgbar2 = { text: '20%', percent: '', class: 'is-grey is-average' }
							include partials/svgbars

						.multiply-bl.column-bh
							.multiply-e.is-blue 4.5x

						.tags-bl.column-bh
							.tags-l
								.tag-cell-ll
									- el = { class: 'is-hoverable', text: 'Harvard'}
									include partials/tag
								.tag-cell-ll
									- el = { class: 'is-hoverable', text: 'Upenn'}
									include partials/tag
								.tag-cell-ll
									- el = { class: 'is-hoverable', text: 'MIT'}
									include partials/tag

					.table-line-b.cf
						.score-bl.column-bh
							- el = { class:'', number: '560', text: 'entertainment' }
							include partials/score

						.progressbars-bl.column-bh
								- el = { class: '' }
								- svgbar1 = { text: '30%', percent: '150%', class: '' }
								- svgbar2 = { text: '20%', percent: '', class: 'is-grey is-average' }
								include partials/svgbars

						.multiply-bl.column-bh
							.multiply-e.is-blue 1.6x

						.tags-bl.column-bh
							.tags-l
								.tag-cell-ll
									- el = { class: 'is-hoverable', text: 'Youtube'}
									include partials/tag
								.tag-cell-ll
									- el = { class: 'is-hoverable', text: 'CNN'}
									include partials/tag
								.tag-cell-ll
									- el = { class: 'is-hoverable', text: 'TVo'}
									include partials/tag


					.table-line-b.cf
						.score-bl.column-bh
							- el = { class:'', number: '790', text: 'energy & utilities' }
							include partials/score

						.progressbars-bl.column-bh
								- el = { class: '' }
								- svgbar1 = { text: '30%', percent: '150%', class: '' }
								- svgbar2 = { text: '20%', percent: '', class: 'is-grey is-average' }
								include partials/svgbars

						.multiply-bl.column-bh
							.multiply-e.is-blue 9.6x

						.tags-bl.column-bh
							.tags-l
								.tag-cell-ll
									- el = { class: 'is-hoverable', text: 'ConEd'}
									include partials/tag
								.tag-cell-ll
									- el = { class: 'is-hoverable', text: 'Shell'}
									include partials/tag
								.tag-cell-ll
									- el = { class: 'is-hoverable', text: 'Bp'}
									include partials/tag

			.hash-e f89ac00fd8a6fc9768c4cb39cc7375ca
			.table-line-b.cf.is-brands2
				.score-bl.column-bh
					- el = { class:'is-plain-text', number: '790', text: 'automotive' }
					include partials/score

				.progressbars-bl.column-bh
					- el = { class: '' }
					- svgbar1 = { text: '30%', percent: '150%', class: '' }
					- svgbar2 = { text: '20%', percent: '', class: 'is-grey is-average' }
					include partials/svgbars

				.multiply-bl.column-bh
					.multiply-e 0.6x

			.hash-e d479c2b2e6b44fd4fd2428ada35a8e87
			.table-line-b.cf.is-brands2
				.score-bl.column-bh
					- el = { class:'is-plain-text', number: '790', text: 'automotive' }
					include partials/score

					.icon-bll
						- el = { path:'facebook2-icon', class: 'score-bl--social-icon-bh' }
						include partials/icon

				.progressbars-bl.column-bh
					- el = { class: '' }
					- svgbar1 = { text: '30%', percent: '150%', class: '' }
					- svgbar2 = { text: '20%', percent: '', class: 'is-grey is-average' }
					include partials/svgbars

				.multiply-bl.column-bh
					.multiply-e 0.6x

			.hash-e 7989f331c08538b349d72c0be93f4788
			.table-b
				.table-line-header-b.is-brands2
					.score-bl.column-bh
						- el = { inputId: 'filter-input' }
						include partials/labeled-filter
					.progressbars-bl.column-bh 		
						- el = { class: 'is-hoverable', text: 'followers vs. baseline' }
						include partials/header-label
					.multiply-bl.column-bh
						- el = { class: 'is-hoverable', text: 'muliply' }
						include partials/header-label

				.table-body-b
					.table-line-b.cf.is-brands2
						.score-bl.column-bh
							- el = { class:'is-plain-text', number: '790', text: 'automotive' }
							include partials/score

						.progressbars-bl.column-bh
								- el = { class: '' }
								- svgbar1 = { text: '30%', percent: '150%', class: '' }
								- svgbar2 = { text: '20%', percent: '', class: 'is-grey is-average' }
								include partials/svgbars

						.multiply-bl.column-bh
							.multiply-e 0.6x

					.table-line-b.cf.is-brands2
						.score-bl.column-bh
							- el = { class:'is-plain-text', number: '790', text: 'automotive' }
							include partials/score

						.progressbars-bl.column-bh
								- el = { class: '' }
								- svgbar1 = { text: '30%', percent: '150%', class: '' }
								- svgbar2 = { text: '20%', percent: '', class: 'is-grey is-average' }
								include partials/svgbars

						.multiply-bl.column-bh
							.multiply-e 0.6x

					.table-line-b.cf.is-brands2
						.score-bl.column-bh
							- el = { class:'is-plain-text', number: '790', text: 'automotive' }
							include partials/score

						.progressbars-bl.column-bh
								- el = { class: '' }
								- svgbar1 = { text: '30%', percent: '150%', class: '' }
								- svgbar2 = { text: '20%', percent: '', class: 'is-grey is-average' }
								include partials/svgbars

						.multiply-bl.column-bh
							.multiply-e 0.6x

					.table-line-b.cf.is-brands2
						.score-bl.column-bh
							- el = { class:'is-plain-text', number: '790', text: 'automotive' }
							include partials/score

						.progressbars-bl.column-bh
								- el = { class: '' }
								- svgbar1 = { text: '30%', percent: '150%', class: '' }
								- svgbar2 = { text: '20%', percent: '', class: 'is-grey is-average' }
								include partials/svgbars

						.multiply-bl.column-bh
							.multiply-e 0.6x

					.table-line-b.cf.is-brands2
						.score-bl.column-bh
							- el = { class:'is-plain-text', number: '790', text: 'automotive' }
							include partials/score

						.progressbars-bl.column-bh
								- el = { class: '' }
								- svgbar1 = { text: '30%', percent: '150%', class: '' }
								- svgbar2 = { text: '20%', percent: '', class: 'is-grey is-average' }
								include partials/svgbars

						.multiply-bl.column-bh
							.multiply-e 0.6x


			.hash-e 67580467bd5a1d2bbef32dd764a7d1bd
			.table-n-header-l
				.header-ll
					- el = { class: '', textClass: 'is-check', iconPath: 'income-icon' }
					include partials/report-block-header
				.table-ll
					.table-b
						.table-line-header-b.is-small-height.is-brands2
							.score-bl.is-left-padding.column-bh
								- el = { class: 'is-hoverable', text: 'bracket' }
								include partials/header-label
							.progressbars-bl.column-bh 		
								- el = { class: 'is-hoverable', text: 'followers vs. baseline' }
								include partials/header-label
							.multiply-bl.column-bh
								- el = { class: 'is-hoverable', text: 'muliply' }
								include partials/header-label

						.table-body-b
							.table-line-b.cf.is-brands2
								.score-bl.column-bh
									- el = { class:'is-plain-text', number: '790', text: 'automotive' }
									include partials/score

								.progressbars-bl.column-bh
									- el = { class: '' }
									- svgbar1 = { text: '30%', percent: '150%', class: '' }
									- svgbar2 = { text: '20%', percent: '', class: 'is-grey is-average' }
									include partials/svgbars

								.multiply-bl.column-bh
									.multiply-e 0.6x

							.table-line-b.cf.is-brands2
								.score-bl.column-bh
									- el = { class:'is-plain-text', number: '790', text: 'automotive' }
									include partials/score

								.progressbars-bl.column-bh
									- el = { class: '' }
									- svgbar1 = { text: '30%', percent: '150%', class: '' }
									- svgbar2 = { text: '20%', percent: '', class: 'is-grey is-average' }
									include partials/svgbars

								.multiply-bl.column-bh
									.multiply-e 0.6x

							.table-line-b.cf.is-brands2
								.score-bl.column-bh
									- el = { class:'is-plain-text', number: '790', text: 'automotive' }
									include partials/score

								.progressbars-bl.column-bh
									- el = { class: '' }
									- svgbar1 = { text: '30%', percent: '150%', class: '' }
									- svgbar2 = { text: '20%', percent: '', class: 'is-grey is-average' }
									include partials/svgbars

								.multiply-bl.column-bh
									.multiply-e 0.6x

							.table-line-b.cf.is-brands2
								.score-bl.column-bh
									- el = { class:'is-plain-text', number: '790', text: 'automotive' }
									include partials/score

								.progressbars-bl.column-bh
									- el = { class: '' }
									- svgbar1 = { text: '30%', percent: '150%', class: '' }
									- svgbar2 = { text: '20%', percent: '', class: 'is-grey is-average' }
									include partials/svgbars

								.multiply-bl.column-bh
									.multiply-e 0.6x

							.table-line-b.cf.is-brands2
								.score-bl.column-bh
									- el = { class:'is-plain-text', number: '790', text: 'automotive' }
									include partials/score

								.progressbars-bl.column-bh
									- el = { class: '' }
									- svgbar1 = { text: '30%', percent: '150%', class: '' }
									- svgbar2 = { text: '20%', percent: '', class: 'is-grey is-average' }
									include partials/svgbars

								.multiply-bl.column-bh
									.multiply-e 0.6x

			.hash-e 177aa510e0ef4bd424c5428b9ebd4058
			.table-b(style="width:170px")
				.table-line-header-b.is-small-height.is-brands2
					.column-bh.is-one
						- el = { class: 'is-hoverable', text: 'bracket' }
						include partials/header-label

				.table-body-bl
					.pie-graph-b
						#svg1.pie-graph-b--pie-bh
						ul.legend-pile-l(data-pie-id='svg1')
							- el = { class: 'is-hoverable', text: '1%', color: '#9adffc', value: '10' }
							- legendLabel = { class: '', text: 'California' } 
							include partials/legend-line

							- el = { class: 'is-hoverable', text: '7%', color: '#83d6f8', value: '7' }
							- legendLabel = { class: '', text: 'Alabama' } 
							include partials/legend-line

							- el = { class: 'is-hoverable', text: '26%', color: '#69ccf5', value: '24' }
							- legendLabel = { class: '', text: 'Florida' } 
							include partials/legend-line

							- el = { class: 'is-hoverable', text: '27%', color: '#35b1e4', value: '23' }
							- legendLabel = { class: '', text: 'New York' } 
							include partials/legend-line

							- el = { class: 'is-hoverable', text: '23%', color: '#2897c4', value: '23' }
							- legendLabel = { class: '', text: 'Texas' } 
							include partials/legend-line

							- el = { class: 'is-hoverable', text: '16%', color: '#278bb3', value: '12' }
							- legendLabel = { class: '', text: 'Other' } 
							include partials/legend-line

			.hash-e 358db06bee18fc591d400f5cf9118e35
			.tables-fork-l.cf
				.left-ll
					.table-b
						.table-line-header-b.is-small-height.is-brands2
							.score-bl.is-left-padding.column-bh
								- el = { class: 'is-hoverable', text: 'bracket' }
								include partials/header-label
							.progressbars-bl.column-bh 		
								- el = { class: 'is-hoverable', text: 'followers vs. baseline' }
								include partials/header-label
							.multiply-bl.column-bh
								- el = { class: 'is-hoverable', text: 'muliply' }
								include partials/header-label

						.table-body-b
							.table-line-b.cf.is-brands2
								.score-bl.column-bh
									- el = { class:'is-plain-text', number: '790', text: 'automotive' }
									include partials/score

								.progressbars-bl.column-bh
									- el = { class: '' }
									- svgbar1 = { text: '30%', percent: '150%', class: '' }
									- svgbar2 = { text: '20%', percent: '', class: 'is-grey is-average' }
									include partials/svgbars

								.multiply-bl.column-bh
									.multiply-e 0.6x

							.table-line-b.cf.is-brands2
								.score-bl.column-bh
									- el = { class:'is-plain-text', number: '790', text: 'automotive' }
									include partials/score

								.progressbars-bl.column-bh
									- el = { class: '' }
									- svgbar1 = { text: '30%', percent: '150%', class: '' }
									- svgbar2 = { text: '20%', percent: '', class: 'is-grey is-average' }
									include partials/svgbars

								.multiply-bl.column-bh
									.multiply-e 0.6x

							.table-line-b.cf.is-brands2
								.score-bl.column-bh
									- el = { class:'is-plain-text', number: '790', text: 'automotive' }
									include partials/score

								.progressbars-bl.column-bh
									- el = { class: '' }
									- svgbar1 = { text: '30%', percent: '150%', class: '' }
									- svgbar2 = { text: '20%', percent: '', class: 'is-grey is-average' }
									include partials/svgbars

								.multiply-bl.column-bh
									.multiply-e 0.6x

							.table-line-b.cf.is-brands2
								.score-bl.column-bh
									- el = { class:'is-plain-text', number: '790', text: 'automotive' }
									include partials/score

								.progressbars-bl.column-bh
									- el = { class: '' }
									- svgbar1 = { text: '30%', percent: '150%', class: '' }
									- svgbar2 = { text: '20%', percent: '', class: 'is-grey is-average' }
									include partials/svgbars

								.multiply-bl.column-bh
									.multiply-e 0.6x

							.table-line-b.cf.is-brands2
								.score-bl.column-bh
									- el = { class:'is-plain-text', number: '790', text: 'automotive' }
									include partials/score

								.progressbars-bl.column-bh
									- el = { class: '' }
									- svgbar1 = { text: '30%', percent: '150%', class: '' }
									- svgbar2 = { text: '20%', percent: '', class: 'is-grey is-average' }
									include partials/svgbars

								.multiply-bl.column-bh
									.multiply-e 0.6x

				.right-ll
					.table-b
						.table-line-header-b.is-small-height.is-brands2
							.column-bh.is-one
								- el = { class: 'is-hoverable', text: 'composition' }
								include partials/header-label

						.table-body-bl
							.pie-graph-b
								#svg2.pie-graph-b--pie-bh
								ul.legend-pile-l(data-pie-id='svg2')
									- el = { class: 'is-hoverable', text: '1%', color: '#9adffc', value: '10' }
									- legendLabel = { class: '', text: 'California' } 
									include partials/legend-line

									- el = { class: 'is-hoverable', text: '7%', color: '#83d6f8', value: '7' }
									- legendLabel = { class: '', text: 'Alabama' } 
									include partials/legend-line

									- el = { class: 'is-hoverable', text: '26%', color: '#69ccf5', value: '24' }
									- legendLabel = { class: '', text: 'Florida' } 
									include partials/legend-line

									- el = { class: 'is-hoverable', text: '27%', color: '#35b1e4', value: '23' }
									- legendLabel = { class: '', text: 'New York' } 
									include partials/legend-line

									- el = { class: 'is-hoverable', text: '23%', color: '#2897c4', value: '23' }
									- legendLabel = { class: '', text: 'Texas' } 
									include partials/legend-line

									- el = { class: 'is-hoverable', text: '16%', color: '#278bb3', value: '12' }
									- legendLabel = { class: '', text: 'Other' } 
									include partials/legend-line

							- el = { class:'is-hoverable m-t-x2-g is-block', text: ' North America' }
							include partials/btn

					

			.hash-e 3648c6de7617651f11ac6af054f02c2d
			.college-footer-b
				.text-be College and university rankings: 
				br
				.text-be Tier 1 = 96th percentile or higher 
				.text-be Tier 2 = 76th-95th percentile
				.text-be Tier 3 = 51th-75th percentile
				.text-be Tier 4 = 26th-50th percentile
				.text-be Tier 5 = 25th percentile
				br
				.text-be.aterics-bh Data for this section was sourced only from people who disclosed on their social-media profiles (possibly outside Twitter) which universities they had attended. As such, the sample may not be representative.


	script(src="../js/vendor/jquery.js")
	script(src="../js/vendor/snap.svg.js")
	script(src="../js/vendor/pizza.js")
	script
		Pizza.init();










