html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border-width: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: monospace, Helvetica, Arial, sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a.is-hoverable:hover {
  text-decoration: underline;
}
html {
  height: 100%;
}
body,
html {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  letter-spacing: 0;
}
body {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: c-bg;
  background: url("i/bg.jpg") repeat;
  background-size: 150%;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
}
::selection{
		background-color: #ff6d6a;
	  color: white;
	  text-shadow: none;
	}

	::-moz-selection{
		background-color: #ff6d6a;
	  color: white;
	  text-shadow: none;
	}
.m-t-de-1-g {
  margin-top: -1px;
}
.margin-center-g {
  margin-left: auto;
  margin-right: auto;
}
.c-grey1-g {
  color: #586575;
}
.c-grey2-g {
  color: #8ea2a8;
}
.c-grey2-hover-g {
  color: #9caeb3;
}
.c-grey3-g {
  color: c-grey3;
}
.bold-g,
.b-g {
  font-weight: bold;
}
.f-s-14-g {
  font-size: 14px;
}
.f-s-15-g {
  font-size: 15px;
}
.f-s-20-g {
  font-size: 20px;
}
.i-g {
  display: inline;
}
.open-sans-g {
  font-family: 'Open Sans', sans-serif;
}
.pt-sans-g {
  font-family: 'PT Sans', sans-serif;
}
.op-0-g {
  opacity: 0;
}
.op-5-g {
  opacity: 0.5;
}
a,
.link-e {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.float-left-g,
.f-l-g {
  float: left;
}
.float-right-g,
.f-r-g {
  float: right;
}
.h-g {
  display: none;
}
.h-g-i {
  display: none !important;
}
.cf:after,
.cf:before {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
.width-x1-g,
.w-x1-g {
  width: 10px;
}
.width-x2-g,
.w-x2-g {
  width: 20px;
}
.width-x3-g,
.w-x3-g {
  width: 30px;
}
.width-x4-g,
.w-x4-g {
  width: 40px;
}
.width-x5-g,
.w-x5-g {
  width: 50px;
}
.width-x6-g,
.w-x6-g {
  width: 60px;
}
.width-x7-g,
.w-x7-g {
  width: 70px;
}
.width-x8-g,
.w-x8-g {
  width: 80px;
}
.width-x9-g,
.w-x9-g {
  width: 90px;
}
.width-x10-g,
.w-x10-g {
  width: 100px;
}
.width-x11-g,
.w-x11-g {
  width: 110px;
}
.width-x12-g,
.w-x12-g {
  width: 120px;
}
.width-x13-g,
.w-x13-g {
  width: 130px;
}
.width-x14-g,
.w-x14-g {
  width: 140px;
}
.width-x15-g,
.w-x15-g {
  width: 150px;
}
.width-x16-g,
.w-x16-g {
  width: 160px;
}
.width-x17-g,
.w-x17-g {
  width: 170px;
}
.width-x18-g,
.w-x18-g {
  width: 180px;
}
.width-x19-g,
.w-x19-g {
  width: 190px;
}
.width-x20-g,
.w-x20-g {
  width: 200px;
}
.width-x21-g,
.w-x21-g {
  width: 210px;
}
.width-x22-g,
.w-x22-g {
  width: 220px;
}
.width-x23-g,
.w-x23-g {
  width: 230px;
}
.width-x24-g,
.w-x24-g {
  width: 240px;
}
.width-x25-g,
.w-x25-g {
  width: 250px;
}
.width-x26-g,
.w-x26-g {
  width: 260px;
}
.width-x27-g,
.w-x27-g {
  width: 270px;
}
.width-x28-g,
.w-x28-g {
  width: 280px;
}
.width-x29-g,
.w-x29-g {
  width: 290px;
}
.width-x30-g,
.w-x30-g {
  width: 300px;
}
.width-x31-g,
.w-x31-g {
  width: 310px;
}
.width-x32-g,
.w-x32-g {
  width: 320px;
}
.width-x33-g,
.w-x33-g {
  width: 330px;
}
.width-x34-g,
.w-x34-g {
  width: 340px;
}
.width-x35-g,
.w-x35-g {
  width: 350px;
}
.width-x36-g,
.w-x36-g {
  width: 360px;
}
.width-x37-g,
.w-x37-g {
  width: 370px;
}
.width-x38-g,
.w-x38-g {
  width: 380px;
}
.width-x39-g,
.w-x39-g {
  width: 390px;
}
.width-x40-g,
.w-x40-g {
  width: 400px;
}
.width-x41-g,
.w-x41-g {
  width: 410px;
}
.width-x42-g,
.w-x42-g {
  width: 420px;
}
.width-x43-g,
.w-x43-g {
  width: 430px;
}
.width-x44-g,
.w-x44-g {
  width: 440px;
}
.width-x45-g,
.w-x45-g {
  width: 450px;
}
.width-x46-g,
.w-x46-g {
  width: 460px;
}
.width-x47-g,
.w-x47-g {
  width: 470px;
}
.width-x48-g,
.w-x48-g {
  width: 480px;
}
.width-x49-g,
.w-x49-g {
  width: 490px;
}
.width-x50-g,
.w-x50-g {
  width: 500px;
}
.width-x51-g,
.w-x51-g {
  width: 510px;
}
.width-x52-g,
.w-x52-g {
  width: 520px;
}
.width-x53-g,
.w-x53-g {
  width: 530px;
}
.width-x54-g,
.w-x54-g {
  width: 540px;
}
.width-x55-g,
.w-x55-g {
  width: 550px;
}
.width-x56-g,
.w-x56-g {
  width: 560px;
}
.width-x57-g,
.w-x57-g {
  width: 570px;
}
.width-x58-g,
.w-x58-g {
  width: 580px;
}
.width-x59-g,
.w-x59-g {
  width: 590px;
}
.width-x60-g,
.w-x60-g {
  width: 600px;
}
.width-x61-g,
.w-x61-g {
  width: 610px;
}
.width-x62-g,
.w-x62-g {
  width: 620px;
}
.width-x63-g,
.w-x63-g {
  width: 630px;
}
.width-x64-g,
.w-x64-g {
  width: 640px;
}
.width-x65-g,
.w-x65-g {
  width: 650px;
}
.width-x66-g,
.w-x66-g {
  width: 660px;
}
.width-x67-g,
.w-x67-g {
  width: 670px;
}
.width-x68-g,
.w-x68-g {
  width: 680px;
}
.width-x69-g,
.w-x69-g {
  width: 690px;
}
.width-x70-g,
.w-x70-g {
  width: 700px;
}
.width-x71-g,
.w-x71-g {
  width: 710px;
}
.width-x72-g,
.w-x72-g {
  width: 720px;
}
.width-x73-g,
.w-x73-g {
  width: 730px;
}
.width-x74-g,
.w-x74-g {
  width: 740px;
}
.width-x75-g,
.w-x75-g {
  width: 750px;
}
.width-x76-g,
.w-x76-g {
  width: 760px;
}
.width-x77-g,
.w-x77-g {
  width: 770px;
}
.width-x78-g,
.w-x78-g {
  width: 780px;
}
.width-x79-g,
.w-x79-g {
  width: 790px;
}
.width-x80-g,
.w-x80-g {
  width: 800px;
}
.width-x81-g,
.w-x81-g {
  width: 810px;
}
.width-x82-g,
.w-x82-g {
  width: 820px;
}
.width-x83-g,
.w-x83-g {
  width: 830px;
}
.width-x84-g,
.w-x84-g {
  width: 840px;
}
.width-x85-g,
.w-x85-g {
  width: 850px;
}
.width-x86-g,
.w-x86-g {
  width: 860px;
}
.width-x87-g,
.w-x87-g {
  width: 870px;
}
.width-x88-g,
.w-x88-g {
  width: 880px;
}
.width-x89-g,
.w-x89-g {
  width: 890px;
}
.width-x90-g,
.w-x90-g {
  width: 900px;
}
.width-x91-g,
.w-x91-g {
  width: 910px;
}
.width-x92-g,
.w-x92-g {
  width: 920px;
}
.width-x93-g,
.w-x93-g {
  width: 930px;
}
.width-x94-g,
.w-x94-g {
  width: 940px;
}
.width-x95-g,
.w-x95-g {
  width: 950px;
}
.width-x96-g,
.w-x96-g {
  width: 960px;
}
.width-x97-g,
.w-x97-g {
  width: 970px;
}
.width-x98-g,
.w-x98-g {
  width: 980px;
}
.width-x99-g,
.w-x99-g {
  width: 990px;
}
.width-x100-g,
.w-x100-g {
  width: 1000px;
}
.height-x1-g,
.h-x1-g {
  height: 10px;
}
.height-x2-g,
.h-x2-g {
  height: 20px;
}
.height-x3-g,
.h-x3-g {
  height: 30px;
}
.height-x4-g,
.h-x4-g {
  height: 40px;
}
.height-x5-g,
.h-x5-g {
  height: 50px;
}
.height-x6-g,
.h-x6-g {
  height: 60px;
}
.height-x7-g,
.h-x7-g {
  height: 70px;
}
.height-x8-g,
.h-x8-g {
  height: 80px;
}
.height-x9-g,
.h-x9-g {
  height: 90px;
}
.height-x10-g,
.h-x10-g {
  height: 100px;
}
.height-x11-g,
.h-x11-g {
  height: 110px;
}
.height-x12-g,
.h-x12-g {
  height: 120px;
}
.height-x13-g,
.h-x13-g {
  height: 130px;
}
.height-x14-g,
.h-x14-g {
  height: 140px;
}
.height-x15-g,
.h-x15-g {
  height: 150px;
}
.height-x16-g,
.h-x16-g {
  height: 160px;
}
.height-x17-g,
.h-x17-g {
  height: 170px;
}
.height-x18-g,
.h-x18-g {
  height: 180px;
}
.height-x19-g,
.h-x19-g {
  height: 190px;
}
.height-x20-g,
.h-x20-g {
  height: 200px;
}
.height-x21-g,
.h-x21-g {
  height: 210px;
}
.height-x22-g,
.h-x22-g {
  height: 220px;
}
.height-x23-g,
.h-x23-g {
  height: 230px;
}
.height-x24-g,
.h-x24-g {
  height: 240px;
}
.height-x25-g,
.h-x25-g {
  height: 250px;
}
.height-x26-g,
.h-x26-g {
  height: 260px;
}
.height-x27-g,
.h-x27-g {
  height: 270px;
}
.height-x28-g,
.h-x28-g {
  height: 280px;
}
.height-x29-g,
.h-x29-g {
  height: 290px;
}
.height-x30-g,
.h-x30-g {
  height: 300px;
}
.height-x31-g,
.h-x31-g {
  height: 310px;
}
.height-x32-g,
.h-x32-g {
  height: 320px;
}
.height-x33-g,
.h-x33-g {
  height: 330px;
}
.height-x34-g,
.h-x34-g {
  height: 340px;
}
.height-x35-g,
.h-x35-g {
  height: 350px;
}
.height-x36-g,
.h-x36-g {
  height: 360px;
}
.height-x37-g,
.h-x37-g {
  height: 370px;
}
.height-x38-g,
.h-x38-g {
  height: 380px;
}
.height-x39-g,
.h-x39-g {
  height: 390px;
}
.height-x40-g,
.h-x40-g {
  height: 400px;
}
.height-x41-g,
.h-x41-g {
  height: 410px;
}
.height-x42-g,
.h-x42-g {
  height: 420px;
}
.height-x43-g,
.h-x43-g {
  height: 430px;
}
.height-x44-g,
.h-x44-g {
  height: 440px;
}
.height-x45-g,
.h-x45-g {
  height: 450px;
}
.height-x46-g,
.h-x46-g {
  height: 460px;
}
.height-x47-g,
.h-x47-g {
  height: 470px;
}
.height-x48-g,
.h-x48-g {
  height: 480px;
}
.height-x49-g,
.h-x49-g {
  height: 490px;
}
.height-x50-g,
.h-x50-g {
  height: 500px;
}
.height-x51-g,
.h-x51-g {
  height: 510px;
}
.height-x52-g,
.h-x52-g {
  height: 520px;
}
.height-x53-g,
.h-x53-g {
  height: 530px;
}
.height-x54-g,
.h-x54-g {
  height: 540px;
}
.height-x55-g,
.h-x55-g {
  height: 550px;
}
.height-x56-g,
.h-x56-g {
  height: 560px;
}
.height-x57-g,
.h-x57-g {
  height: 570px;
}
.height-x58-g,
.h-x58-g {
  height: 580px;
}
.height-x59-g,
.h-x59-g {
  height: 590px;
}
.height-x60-g,
.h-x60-g {
  height: 600px;
}
.height-x61-g,
.h-x61-g {
  height: 610px;
}
.height-x62-g,
.h-x62-g {
  height: 620px;
}
.height-x63-g,
.h-x63-g {
  height: 630px;
}
.height-x64-g,
.h-x64-g {
  height: 640px;
}
.height-x65-g,
.h-x65-g {
  height: 650px;
}
.height-x66-g,
.h-x66-g {
  height: 660px;
}
.height-x67-g,
.h-x67-g {
  height: 670px;
}
.height-x68-g,
.h-x68-g {
  height: 680px;
}
.height-x69-g,
.h-x69-g {
  height: 690px;
}
.height-x70-g,
.h-x70-g {
  height: 700px;
}
.height-x71-g,
.h-x71-g {
  height: 710px;
}
.height-x72-g,
.h-x72-g {
  height: 720px;
}
.height-x73-g,
.h-x73-g {
  height: 730px;
}
.height-x74-g,
.h-x74-g {
  height: 740px;
}
.height-x75-g,
.h-x75-g {
  height: 750px;
}
.height-x76-g,
.h-x76-g {
  height: 760px;
}
.height-x77-g,
.h-x77-g {
  height: 770px;
}
.height-x78-g,
.h-x78-g {
  height: 780px;
}
.height-x79-g,
.h-x79-g {
  height: 790px;
}
.height-x80-g,
.h-x80-g {
  height: 800px;
}
.height-x81-g,
.h-x81-g {
  height: 810px;
}
.height-x82-g,
.h-x82-g {
  height: 820px;
}
.height-x83-g,
.h-x83-g {
  height: 830px;
}
.height-x84-g,
.h-x84-g {
  height: 840px;
}
.height-x85-g,
.h-x85-g {
  height: 850px;
}
.height-x86-g,
.h-x86-g {
  height: 860px;
}
.height-x87-g,
.h-x87-g {
  height: 870px;
}
.height-x88-g,
.h-x88-g {
  height: 880px;
}
.height-x89-g,
.h-x89-g {
  height: 890px;
}
.height-x90-g,
.h-x90-g {
  height: 900px;
}
.height-x91-g,
.h-x91-g {
  height: 910px;
}
.height-x92-g,
.h-x92-g {
  height: 920px;
}
.height-x93-g,
.h-x93-g {
  height: 930px;
}
.height-x94-g,
.h-x94-g {
  height: 940px;
}
.height-x95-g,
.h-x95-g {
  height: 950px;
}
.height-x96-g,
.h-x96-g {
  height: 960px;
}
.height-x97-g,
.h-x97-g {
  height: 970px;
}
.height-x98-g,
.h-x98-g {
  height: 980px;
}
.height-x99-g,
.h-x99-g {
  height: 990px;
}
.height-x100-g,
.h-x100-g {
  height: 1000px;
}
.margin-left-x1-g,
.m-l-x1-g {
  margin-left: 10px;
}
.margin-right-x1-g,
.m-r-x1-g {
  margin-right: 10px;
}
.margin-top-x1-g,
.m-t-x1-g {
  margin-top: 10px;
}
.margin-bottom-x1-g,
.m-b-x1-g {
  margin-bottom: 10px;
}
.margin-x1-g,
.m-x1-g {
  margin: 10px;
}
.margin-left-x2-g,
.m-l-x2-g {
  margin-left: 20px;
}
.margin-right-x2-g,
.m-r-x2-g {
  margin-right: 20px;
}
.margin-top-x2-g,
.m-t-x2-g {
  margin-top: 20px;
}
.margin-bottom-x2-g,
.m-b-x2-g {
  margin-bottom: 20px;
}
.margin-x2-g,
.m-x2-g {
  margin: 20px;
}
.margin-left-x3-g,
.m-l-x3-g {
  margin-left: 30px;
}
.margin-right-x3-g,
.m-r-x3-g {
  margin-right: 30px;
}
.margin-top-x3-g,
.m-t-x3-g {
  margin-top: 30px;
}
.margin-bottom-x3-g,
.m-b-x3-g {
  margin-bottom: 30px;
}
.margin-x3-g,
.m-x3-g {
  margin: 30px;
}
.margin-left-x4-g,
.m-l-x4-g {
  margin-left: 40px;
}
.margin-right-x4-g,
.m-r-x4-g {
  margin-right: 40px;
}
.margin-top-x4-g,
.m-t-x4-g {
  margin-top: 40px;
}
.margin-bottom-x4-g,
.m-b-x4-g {
  margin-bottom: 40px;
}
.margin-x4-g,
.m-x4-g {
  margin: 40px;
}
.margin-left-x5-g,
.m-l-x5-g {
  margin-left: 50px;
}
.margin-right-x5-g,
.m-r-x5-g {
  margin-right: 50px;
}
.margin-top-x5-g,
.m-t-x5-g {
  margin-top: 50px;
}
.margin-bottom-x5-g,
.m-b-x5-g {
  margin-bottom: 50px;
}
.margin-x5-g,
.m-x5-g {
  margin: 50px;
}
.margin-left-x6-g,
.m-l-x6-g {
  margin-left: 60px;
}
.margin-right-x6-g,
.m-r-x6-g {
  margin-right: 60px;
}
.margin-top-x6-g,
.m-t-x6-g {
  margin-top: 60px;
}
.margin-bottom-x6-g,
.m-b-x6-g {
  margin-bottom: 60px;
}
.margin-x6-g,
.m-x6-g {
  margin: 60px;
}
.margin-left-x7-g,
.m-l-x7-g {
  margin-left: 70px;
}
.margin-right-x7-g,
.m-r-x7-g {
  margin-right: 70px;
}
.margin-top-x7-g,
.m-t-x7-g {
  margin-top: 70px;
}
.margin-bottom-x7-g,
.m-b-x7-g {
  margin-bottom: 70px;
}
.margin-x7-g,
.m-x7-g {
  margin: 70px;
}
.margin-left-x8-g,
.m-l-x8-g {
  margin-left: 80px;
}
.margin-right-x8-g,
.m-r-x8-g {
  margin-right: 80px;
}
.margin-top-x8-g,
.m-t-x8-g {
  margin-top: 80px;
}
.margin-bottom-x8-g,
.m-b-x8-g {
  margin-bottom: 80px;
}
.margin-x8-g,
.m-x8-g {
  margin: 80px;
}
.margin-left-x9-g,
.m-l-x9-g {
  margin-left: 90px;
}
.margin-right-x9-g,
.m-r-x9-g {
  margin-right: 90px;
}
.margin-top-x9-g,
.m-t-x9-g {
  margin-top: 90px;
}
.margin-bottom-x9-g,
.m-b-x9-g {
  margin-bottom: 90px;
}
.margin-x9-g,
.m-x9-g {
  margin: 90px;
}
.margin-left-x10-g,
.m-l-x10-g {
  margin-left: 100px;
}
.margin-right-x10-g,
.m-r-x10-g {
  margin-right: 100px;
}
.margin-top-x10-g,
.m-t-x10-g {
  margin-top: 100px;
}
.margin-bottom-x10-g,
.m-b-x10-g {
  margin-bottom: 100px;
}
.margin-x10-g,
.m-x10-g {
  margin: 100px;
}
.margin-left-x11-g,
.m-l-x11-g {
  margin-left: 110px;
}
.margin-right-x11-g,
.m-r-x11-g {
  margin-right: 110px;
}
.margin-top-x11-g,
.m-t-x11-g {
  margin-top: 110px;
}
.margin-bottom-x11-g,
.m-b-x11-g {
  margin-bottom: 110px;
}
.margin-x11-g,
.m-x11-g {
  margin: 110px;
}
.margin-left-x12-g,
.m-l-x12-g {
  margin-left: 120px;
}
.margin-right-x12-g,
.m-r-x12-g {
  margin-right: 120px;
}
.margin-top-x12-g,
.m-t-x12-g {
  margin-top: 120px;
}
.margin-bottom-x12-g,
.m-b-x12-g {
  margin-bottom: 120px;
}
.margin-x12-g,
.m-x12-g {
  margin: 120px;
}
.margin-left-x13-g,
.m-l-x13-g {
  margin-left: 130px;
}
.margin-right-x13-g,
.m-r-x13-g {
  margin-right: 130px;
}
.margin-top-x13-g,
.m-t-x13-g {
  margin-top: 130px;
}
.margin-bottom-x13-g,
.m-b-x13-g {
  margin-bottom: 130px;
}
.margin-x13-g,
.m-x13-g {
  margin: 130px;
}
.margin-left-x14-g,
.m-l-x14-g {
  margin-left: 140px;
}
.margin-right-x14-g,
.m-r-x14-g {
  margin-right: 140px;
}
.margin-top-x14-g,
.m-t-x14-g {
  margin-top: 140px;
}
.margin-bottom-x14-g,
.m-b-x14-g {
  margin-bottom: 140px;
}
.margin-x14-g,
.m-x14-g {
  margin: 140px;
}
.margin-left-x15-g,
.m-l-x15-g {
  margin-left: 150px;
}
.margin-right-x15-g,
.m-r-x15-g {
  margin-right: 150px;
}
.margin-top-x15-g,
.m-t-x15-g {
  margin-top: 150px;
}
.margin-bottom-x15-g,
.m-b-x15-g {
  margin-bottom: 150px;
}
.margin-x15-g,
.m-x15-g {
  margin: 150px;
}
.margin-left-x16-g,
.m-l-x16-g {
  margin-left: 160px;
}
.margin-right-x16-g,
.m-r-x16-g {
  margin-right: 160px;
}
.margin-top-x16-g,
.m-t-x16-g {
  margin-top: 160px;
}
.margin-bottom-x16-g,
.m-b-x16-g {
  margin-bottom: 160px;
}
.margin-x16-g,
.m-x16-g {
  margin: 160px;
}
.margin-left-x17-g,
.m-l-x17-g {
  margin-left: 170px;
}
.margin-right-x17-g,
.m-r-x17-g {
  margin-right: 170px;
}
.margin-top-x17-g,
.m-t-x17-g {
  margin-top: 170px;
}
.margin-bottom-x17-g,
.m-b-x17-g {
  margin-bottom: 170px;
}
.margin-x17-g,
.m-x17-g {
  margin: 170px;
}
.margin-left-x18-g,
.m-l-x18-g {
  margin-left: 180px;
}
.margin-right-x18-g,
.m-r-x18-g {
  margin-right: 180px;
}
.margin-top-x18-g,
.m-t-x18-g {
  margin-top: 180px;
}
.margin-bottom-x18-g,
.m-b-x18-g {
  margin-bottom: 180px;
}
.margin-x18-g,
.m-x18-g {
  margin: 180px;
}
.margin-left-x19-g,
.m-l-x19-g {
  margin-left: 190px;
}
.margin-right-x19-g,
.m-r-x19-g {
  margin-right: 190px;
}
.margin-top-x19-g,
.m-t-x19-g {
  margin-top: 190px;
}
.margin-bottom-x19-g,
.m-b-x19-g {
  margin-bottom: 190px;
}
.margin-x19-g,
.m-x19-g {
  margin: 190px;
}
.margin-left-x20-g,
.m-l-x20-g {
  margin-left: 200px;
}
.margin-right-x20-g,
.m-r-x20-g {
  margin-right: 200px;
}
.margin-top-x20-g,
.m-t-x20-g {
  margin-top: 200px;
}
.margin-bottom-x20-g,
.m-b-x20-g {
  margin-bottom: 200px;
}
.margin-x20-g,
.m-x20-g {
  margin: 200px;
}
.padding-left-x1-g,
.p-l-x1-g {
  padding-left: 10px;
}
.padding-right-x1-g,
.p-r-x1-g {
  padding-right: 10px;
}
.padding-top-x1-g,
.p-t-x1-g {
  padding-top: 10px;
}
.padding-bottom-x1-g,
.p-b-x1-g {
  padding-bottom: 10px;
}
.padding-x1-g,
.p-x1-g {
  padding: 10px;
}
.padding-left-x2-g,
.p-l-x2-g {
  padding-left: 20px;
}
.padding-right-x2-g,
.p-r-x2-g {
  padding-right: 20px;
}
.padding-top-x2-g,
.p-t-x2-g {
  padding-top: 20px;
}
.padding-bottom-x2-g,
.p-b-x2-g {
  padding-bottom: 20px;
}
.padding-x2-g,
.p-x2-g {
  padding: 20px;
}
.padding-left-x3-g,
.p-l-x3-g {
  padding-left: 30px;
}
.padding-right-x3-g,
.p-r-x3-g {
  padding-right: 30px;
}
.padding-top-x3-g,
.p-t-x3-g {
  padding-top: 30px;
}
.padding-bottom-x3-g,
.p-b-x3-g {
  padding-bottom: 30px;
}
.padding-x3-g,
.p-x3-g {
  padding: 30px;
}
.padding-left-x4-g,
.p-l-x4-g {
  padding-left: 40px;
}
.padding-right-x4-g,
.p-r-x4-g {
  padding-right: 40px;
}
.padding-top-x4-g,
.p-t-x4-g {
  padding-top: 40px;
}
.padding-bottom-x4-g,
.p-b-x4-g {
  padding-bottom: 40px;
}
.padding-x4-g,
.p-x4-g {
  padding: 40px;
}
.padding-left-x5-g,
.p-l-x5-g {
  padding-left: 50px;
}
.padding-right-x5-g,
.p-r-x5-g {
  padding-right: 50px;
}
.padding-top-x5-g,
.p-t-x5-g {
  padding-top: 50px;
}
.padding-bottom-x5-g,
.p-b-x5-g {
  padding-bottom: 50px;
}
.padding-x5-g,
.p-x5-g {
  padding: 50px;
}
.padding-left-x6-g,
.p-l-x6-g {
  padding-left: 60px;
}
.padding-right-x6-g,
.p-r-x6-g {
  padding-right: 60px;
}
.padding-top-x6-g,
.p-t-x6-g {
  padding-top: 60px;
}
.padding-bottom-x6-g,
.p-b-x6-g {
  padding-bottom: 60px;
}
.padding-x6-g,
.p-x6-g {
  padding: 60px;
}
.padding-left-x7-g,
.p-l-x7-g {
  padding-left: 70px;
}
.padding-right-x7-g,
.p-r-x7-g {
  padding-right: 70px;
}
.padding-top-x7-g,
.p-t-x7-g {
  padding-top: 70px;
}
.padding-bottom-x7-g,
.p-b-x7-g {
  padding-bottom: 70px;
}
.padding-x7-g,
.p-x7-g {
  padding: 70px;
}
.padding-left-x8-g,
.p-l-x8-g {
  padding-left: 80px;
}
.padding-right-x8-g,
.p-r-x8-g {
  padding-right: 80px;
}
.padding-top-x8-g,
.p-t-x8-g {
  padding-top: 80px;
}
.padding-bottom-x8-g,
.p-b-x8-g {
  padding-bottom: 80px;
}
.padding-x8-g,
.p-x8-g {
  padding: 80px;
}
.padding-left-x9-g,
.p-l-x9-g {
  padding-left: 90px;
}
.padding-right-x9-g,
.p-r-x9-g {
  padding-right: 90px;
}
.padding-top-x9-g,
.p-t-x9-g {
  padding-top: 90px;
}
.padding-bottom-x9-g,
.p-b-x9-g {
  padding-bottom: 90px;
}
.padding-x9-g,
.p-x9-g {
  padding: 90px;
}
.padding-left-x10-g,
.p-l-x10-g {
  padding-left: 100px;
}
.padding-right-x10-g,
.p-r-x10-g {
  padding-right: 100px;
}
.padding-top-x10-g,
.p-t-x10-g {
  padding-top: 100px;
}
.padding-bottom-x10-g,
.p-b-x10-g {
  padding-bottom: 100px;
}
.padding-x10-g,
.p-x10-g {
  padding: 100px;
}
.padding-left-x11-g,
.p-l-x11-g {
  padding-left: 110px;
}
.padding-right-x11-g,
.p-r-x11-g {
  padding-right: 110px;
}
.padding-top-x11-g,
.p-t-x11-g {
  padding-top: 110px;
}
.padding-bottom-x11-g,
.p-b-x11-g {
  padding-bottom: 110px;
}
.padding-x11-g,
.p-x11-g {
  padding: 110px;
}
.padding-left-x12-g,
.p-l-x12-g {
  padding-left: 120px;
}
.padding-right-x12-g,
.p-r-x12-g {
  padding-right: 120px;
}
.padding-top-x12-g,
.p-t-x12-g {
  padding-top: 120px;
}
.padding-bottom-x12-g,
.p-b-x12-g {
  padding-bottom: 120px;
}
.padding-x12-g,
.p-x12-g {
  padding: 120px;
}
.padding-left-x13-g,
.p-l-x13-g {
  padding-left: 130px;
}
.padding-right-x13-g,
.p-r-x13-g {
  padding-right: 130px;
}
.padding-top-x13-g,
.p-t-x13-g {
  padding-top: 130px;
}
.padding-bottom-x13-g,
.p-b-x13-g {
  padding-bottom: 130px;
}
.padding-x13-g,
.p-x13-g {
  padding: 130px;
}
.padding-left-x14-g,
.p-l-x14-g {
  padding-left: 140px;
}
.padding-right-x14-g,
.p-r-x14-g {
  padding-right: 140px;
}
.padding-top-x14-g,
.p-t-x14-g {
  padding-top: 140px;
}
.padding-bottom-x14-g,
.p-b-x14-g {
  padding-bottom: 140px;
}
.padding-x14-g,
.p-x14-g {
  padding: 140px;
}
.padding-left-x15-g,
.p-l-x15-g {
  padding-left: 150px;
}
.padding-right-x15-g,
.p-r-x15-g {
  padding-right: 150px;
}
.padding-top-x15-g,
.p-t-x15-g {
  padding-top: 150px;
}
.padding-bottom-x15-g,
.p-b-x15-g {
  padding-bottom: 150px;
}
.padding-x15-g,
.p-x15-g {
  padding: 150px;
}
.padding-left-x16-g,
.p-l-x16-g {
  padding-left: 160px;
}
.padding-right-x16-g,
.p-r-x16-g {
  padding-right: 160px;
}
.padding-top-x16-g,
.p-t-x16-g {
  padding-top: 160px;
}
.padding-bottom-x16-g,
.p-b-x16-g {
  padding-bottom: 160px;
}
.padding-x16-g,
.p-x16-g {
  padding: 160px;
}
.padding-left-x17-g,
.p-l-x17-g {
  padding-left: 170px;
}
.padding-right-x17-g,
.p-r-x17-g {
  padding-right: 170px;
}
.padding-top-x17-g,
.p-t-x17-g {
  padding-top: 170px;
}
.padding-bottom-x17-g,
.p-b-x17-g {
  padding-bottom: 170px;
}
.padding-x17-g,
.p-x17-g {
  padding: 170px;
}
.padding-left-x18-g,
.p-l-x18-g {
  padding-left: 180px;
}
.padding-right-x18-g,
.p-r-x18-g {
  padding-right: 180px;
}
.padding-top-x18-g,
.p-t-x18-g {
  padding-top: 180px;
}
.padding-bottom-x18-g,
.p-b-x18-g {
  padding-bottom: 180px;
}
.padding-x18-g,
.p-x18-g {
  padding: 180px;
}
.padding-left-x19-g,
.p-l-x19-g {
  padding-left: 190px;
}
.padding-right-x19-g,
.p-r-x19-g {
  padding-right: 190px;
}
.padding-top-x19-g,
.p-t-x19-g {
  padding-top: 190px;
}
.padding-bottom-x19-g,
.p-b-x19-g {
  padding-bottom: 190px;
}
.padding-x19-g,
.p-x19-g {
  padding: 190px;
}
.padding-left-x20-g,
.p-l-x20-g {
  padding-left: 200px;
}
.padding-right-x20-g,
.p-r-x20-g {
  padding-right: 200px;
}
.padding-top-x20-g,
.p-t-x20-g {
  padding-top: 200px;
}
.padding-bottom-x20-g,
.p-b-x20-g {
  padding-bottom: 200px;
}
.padding-x20-g,
.p-x20-g {
  padding: 200px;
}
.c-grey2-bg-g {
  background-color: #8ea2a8;
}
.c-grey2-bg-g.is-hoverable:hover {
  background-color: 'c-grey2-hover';
}
.c-grey1-bg-g {
  background-color: #586575;
}
.c-grey1-bg-g.is-hoverable:hover {
  background-color: 'c-grey1-hover';
}
.c-blue-bg-g {
  background-color: #2997c4;
}
.c-blue-bg-g.is-hoverable:hover {
  background-color: 'c-blue-hover';
}
.c-blue3-bg-g {
  background-color: #4a6c82;
}
.c-blue3-bg-g.is-hoverable:hover {
  background-color: 'c-blue3-hover';
}
.c-blue2-bg-g {
  background-color: #526779;
}
.c-blue2-bg-g.is-hoverable:hover {
  background-color: 'c-blue2-hover';
}
.c-blue1-bg-g {
  background-color: #12253d;
}
.c-blue1-bg-g.is-hoverable:hover {
  background-color: 'c-blue1-hover';
}
.c-green-bg-g {
  background-color: #29dcb8;
}
.c-green-bg-g.is-hoverable:hover {
  background-color: 'c-green-hover';
}
.c-red-bg-g {
  background-color: #ff6d6a;
}
.c-red-bg-g.is-hoverable:hover {
  background-color: 'c-red-hover';
}
.c-orange-bg-g {
  background-color: #ffc778;
}
.c-orange-bg-g.is-hoverable:hover {
  background-color: 'c-orange-hover';
}
.c-black1-bg-g {
  background-color: #232323;
}
.c-black1-bg-g.is-hoverable:hover {
  background-color: 'c-black1-hover';
}
.c-black2-bg-g {
  background-color: #3d3d3d;
}
.c-black2-bg-g.is-hoverable:hover {
  background-color: 'c-black2-hover';
}
.c-black3-bg-g {
  background-color: #575757;
}
.c-black3-bg-g.is-hoverable:hover {
  background-color: 'c-black3-hover';
}
.c-black4-bg-g {
  background-color: #717171;
}
.c-black4-bg-g.is-hoverable:hover {
  background-color: 'c-black4-hover';
}
.c-black5-bg-g {
  background-color: #8b8b8b;
}
.c-black5-bg-g.is-hoverable:hover {
  background-color: 'c-black5-hover';
}
.c-black6-bg-g {
  background-color: #a4a4a4;
}
.c-black6-bg-g.is-hoverable:hover {
  background-color: 'c-black6-hover';
}
.c-black7-bg-g {
  background-color: #bebebe;
}
.c-black7-bg-g.is-hoverable:hover {
  background-color: 'c-black7-hover';
}
.c-black8-bg-g {
  background-color: #d8d8d8;
}
.c-black8-bg-g.is-hoverable:hover {
  background-color: 'c-black8-hover';
}
.c-black9-bg-g {
  background-color: #f2f2f2;
}
.c-black9-bg-g.is-hoverable:hover {
  background-color: 'c-black9-hover';
}
.c-black10-bg-g {
  background-color: #fff;
}
.c-black10-bg-g.is-hoverable:hover {
  background-color: 'c-black10-hover';
}
.legend-circle-e {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  overflow: hidden;
  fill: #9adffc;
}
.legend-circle-e svg {
  width: 100%;
  height: 100%;
  float: left;
}
.term-e {
  color: #29dcb8;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 0;
  display: inline-block;
}
.btn-e {
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  height: 37px;
  line-height: 37px;
  padding: 0 20px;
  font-weight: 200;
  letter-spacing: 0;
}
.btn-e.is-block {
  display: block;
  text-align: center;
}
.btn-e.is-hoverable:hover {
  background-color: #fff;
  color: #586575;
  cursor: pointer;
}
.header-btn-e {
  color: #fff;
  font-size: 16px;
  letter-spacing: 0;
  display: inline-block;
/* a8dfa0dd565e655fe888df703af6da13 */
}
.header-btn-e.is-thin {
  font-weight: 100;
}
.header-btn-e.is-hoverable:hover {
  text-decoration: underline;
  cursor: pointer;
}
.level-up-btn-e {
  background-color: #ffc778;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding-top: 1px;
}
.level-up-btn-e:hover {
  cursor: pointer;
  background-color: #ffbc5f;
}
.level-up-btn-e .icon {
  fill: #fff;
  width: 19px;
  height: 19px;
  margin-top: 6px;
  margin-left: 8px;
}
.header-label-e {
  height: 20px;
  color: #44596e;
  font-size: 24px;
  letter-spacing: 0;
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
/* 2f59ddffa7cf1041a9c817881c99e026 */
/* 4fe69c9509a14eccc99613a57d237109 */
}
.header-label-e.is-hoverable:hover {
  cursor: pointer;
  color: #313f4e;
}
.header-label-e.is-check {
  color: #fff;
  cursor: default;
/* a0d45e1d55926db1a43c3ac0529a9e76 */
}
.header-label-e.is-check:hover {
  color: #fff;
  cursor: default;
}
.header-label-e.is-check.is-filter {
  cursor: pointer;
}
.filter-input-btn-e {
  background-color: #ff6d6a;
  width: 48px;
  height: 48px;
  width: 46px;
  padding-top: 11px;
  padding-left: 9px;
}
.filter-input-btn-e.is-hoverable:hover {
  background-color: #ff5451;
  cursor: pointer;
}
.filter-input-btn-e .icon {
  width: 28px;
  height: 28px;
  fill: #fff;
}
.filter-input-e {
  background-color: #ff6d6a;
  color: #fff;
  outline: 0;
  box-shadow: none;
  border-width: 0;
  border-style: solid;
  border-color: #000;
  height: 48px;
  display: block;
  font-size: 18px;
  font-weight: 100;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
.filter-input-e::-webkit-input-placeholder {
/* WebKit browsers */
  color: #fff;
}
.filter-input-e:-moz-placeholder {
/* Mozilla Firefox 4 to 18 */
  color: #fff;
}
.filter-input-e::-moz-placeholder {
/* Mozilla Firefox 19+ */
  color: #fff;
}
.filter-input-e:-ms-input-placeholder {
/* Internet Explorer 10+ */
  color: #fff;
}
.filter-input-e:focus {
  padding-left: 40px;
}
.filter-input-e.is-hoverable:hover {
  background-color: #ff5451;
  cursor: pointer;
}
.filter-input-e.is-focusable:focus {
  background-color: #ff5451;
  cursor: pointer;
}
.multiply-e {
  font-size: 26px;
  color: #44596e;
  font-weight: 200;
  letter-spacing: 0;
/* 19f71a51c0d5bed322aa620bdba5e4cc */
/*  */
}
.multiply-e.is-blue {
  color: #2997c4;
}
.multiply-e.is-yellow {
  color: #de9e43;
}
.score-circle-e {
  background-color: #526779;
  border-radius: 50%;
  text-align: center;
  width: 42px;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
  color: #9cb5bd;
  font-weight: 500;
  letter-spacing: 0;
}
.sidebar-logo-e {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  height: 81px;
  padding-top: 28px;
  background-color: rgba(28,46,67,0.34);
  background-color: rgba(18,37,61,0.5);
  font-family: 'PT Sans', sans-serif;
}
.tag-e {
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  border-radius: 14px;
  font-size: 18px;
  display: inline-block;
  color: #44596e;
  padding: 2px 14px 6px;
  font-weight: 100;
  letter-spacing: 0;
/* 15fcd56a987540e02de37396809fa400 */
}
.tag-e.is-hoverable:hover {
  background-color: #fff;
  cursor: pointer;
}
.identified-audience-b,
.social-composition-b {
  letter-spacing: 0;
  font-size: 16px;
  color: #274057;
  line-height: 19px;
  padding: 40px 0;
}
.identified-audience-b > .left-bl,
.social-composition-b > .left-bl,
.identified-audience-b > .right-bl,
.social-composition-b > .right-bl {
  float: left;
}
.identified-audience-b > .left-bl,
.social-composition-b > .left-bl {
  width: 66.66666666666667%;
  padding-left: 30px;
}
.identified-audience-b > .left-bl > .graph-bll,
.social-composition-b > .left-bl > .graph-bll {
  width: 50%;
}
.identified-audience-b > .left-bl > .footer-bll,
.social-composition-b > .left-bl > .footer-bll {
  font-weight: 100;
  padding-right: 20%;
  margin-top: 18px;
}
.identified-audience-b > .right-bl,
.social-composition-b > .right-bl {
  width: 33.333333333333336%;
  padding-right: 20px;
  padding-top: 25px;
}
.identified-audience-b > .right-bl p + p,
.social-composition-b > .right-bl p + p {
  margin-top: 20px;
}
.social-composition-b {
  font-size: 18px;
  line-height: 22px;
  color: rgba(68,84,105,0.75);
}
.social-composition-b .svg-bargraph-b.is-average:after {
  top: 4px;
}
.social-composition-b > .left-bl > .graph-bll {
  width: 55%;
}
.social-composition-b > .right-bl {
  padding-top: 0;
}
.connections-b {
  text-align: center;
  padding: 80px 40px;
}
.connections-b .connections-footer-b {
  width: 50%;
  text-align: left;
  margin-top: 54px;
  margin-left: 5%;
}
.connections-footer-b .progressbar-pile-l {
  display: inline-block;
}
.connections-footer-b > .mul-be {
  color: #ffe9ca;
}
.connections-net-b {
  padding-left: 80px;
}
.connections-net-b > .left-bl,
.connections-net-b > .right-bl {
  display: inline-block;
  vertical-align: top;
}
.connections-net-b > .left-bl .social-net-b {
  margin: 0 auto;
}
.connections-net-b > .right-bl {
  font-size: 18px;
  color: #274057;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 300;
  padding-left: 102px;
  padding-top: 36px;
  text-align: left;
}
.connections-net-b > .right-bl > .about-ble {
  width: 283px;
}
.social-net-b {
  background: url("i/social-net.png") no-repeat center center;
  background-size: 100% auto;
  width: 223px;
  height: 223px;
  position: relative;
}
.social-net-b > .avatar-be {
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  background: url("http://placekitten.com/g/75/75") no-repeat center center;
  width: 27.5%;
  height: 27.5%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  margin-left: -13.75%;
  margin-top: -13.75%;
  display: block;
}
.legend-line-b {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
.legend-line-b.is-hoverable:hover {
  cursor: pointer;
}
.legend-line-b > .right-bl {
  float: right;
  font-size: 18px;
  color: #445469;
  letter-spacing: 0;
}
.legend-label-b {
  display: inline-block;
}
.legend-label-b > .text-be {
  margin-left: 18px;
  font-size: 18px;
  color: #445469;
  letter-spacing: 0;
}
.legend-label-b .legend-circle-e {
  float: left;
  margin-top: 2px;
}
.pie-graph-b .pie-graph-b--pie-bh {
  width: 75%;
}
.svg-bargraph-b {
  position: relative;
  height: 30px;
  fill: #2997c4;
/* 3b75ff5b211c22a36dc9c88995cf9cf2 */
/* d446c8ea4c5edb2256f04a7c05d2bf2f */
/* d590d264d24baa20070fa2fe7b97c66d */
/* 8d291bad4675df8002e34cece6c51302 */
}
.svg-bargraph-b > .progress-bl,
.svg-bargraph-b > .extra-bl {
  display: block;
  height: 30px;
}
.svg-bargraph-b > .progress-bl {
  position: relative;
  z-index: 2;
}
.svg-bargraph-b > .progress-bl > .text-ble {
  position: absolute;
  top: 6px;
  color: #fff;
  font-size: 20px;
  letter-spacing: 0;
  font-weight: 300;
  padding-left: 9px;
}
.svg-bargraph-b > .extra-bl {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  color: #64cbf7;
}
.svg-bargraph-b > .extra-bl > .wrap-bll {
  position: relative;
  color: inherit;
}
.svg-bargraph-b > .extra-bl > .wrap-bll:before {
  content: attr(data-text);
  position: absolute;
  right: -10px;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  top: 3px;
  color: inherit;
  font-size: 22px;
  font-weight: 300;
}
.svg-bargraph-b.is-grey {
  fill: #8ea2a8;
}
.svg-bargraph-b.is-orange {
  fill: #ffc778;
}
.svg-bargraph-b.is-orange > .extra-bl {
  color: #ffe9ca;
}
.svg-bargraph-b.is-green {
  fill: #29dcb8;
}
.svg-bargraph-b.is-green > .extra-bl {
  color: #acf2e4;
}
.svg-bargraph-b.is-average:after {
  content: 'average';
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 3;
  color: #fff;
  font-size: 14px;
  padding-left: 9px;
  letter-spacing: 0;
  font-weight: 300;
}
.header-btn-n-icon-b {
  padding-top: 1px;
  display: inline-block;
}
.header-btn-n-icon-b > .icon-bl {
  display: inline-block;
  vertical-align: top;
  margin-left: 6px;
  position: relative;
  top: -5px;
}
.header-btn-n-icon-b > .icon-bl .icon {
  width: 25px;
  height: 25px;
}
.terms-block-b {
  background-color: #273d55;
  text-align: center;
  padding: 21px 0;
  position: relative;
}
.terms-block-b.is-open > .terms-bl {
  max-height: 135px;
  height: auto;
}
.terms-block-b > .header-be {
  font-size: 20px;
  color: #c7cbd2;
  font-weight: 200;
  letter-spacing: 0;
}
.terms-block-b > .terms-bl {
  height: 25px;
  overflow: hidden;
  line-height: 25px;
  margin-top: 16px;
}
.terms-block-b .terms-block-b--cross-icon-bh {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 20px;
  height: 20px;
  fill: #a5b0b9;
}
.terms-block-b .terms-block-b--cross-icon-bh:hover {
  fill: #c2c9cf;
  cursor: pointer;
}
.terms-block-b .term-e + .term-e {
  margin-left: 4px;
}
.college-footer-b {
  background-color: rgba(231,231,231,0.34);
  padding: 23px 41px;
  color: #44596e;
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;
  letter-spacing: 0;
}
.college-footer-b .aterics-bh {
  position: relative;
}
.college-footer-b .aterics-bh:before {
  content: '*';
  position: absolute;
  left: -17px;
}
.report-block-header-b {
  text-align: left;
}
.report-block-header-b .icon {
  fill: #fff;
  float: left;
  width: 47px;
  height: 47px;
}
.report-block-header-b .text-be {
  color: #445469;
  font-size: 36px;
  font-weight: 100;
  margin-left: 53px;
  margin-top: 6px;
  display: inline-block;
  border-bottom: 1px solid transparent;
  font-family: 'PT Sans', sans-serif;
}
.report-block-header-b .text-be.is-check {
  color: #fff;
}
.report-block-header-b .text-be.is-hoverable:hover {
  cursor: pointer;
  border-bottom: 1px solid;
}
.followers-header-b,
.tweet-header-b {
  background-color: rgba(68,84,105,0.37);
  height: 81px;
  padding-top: 30px;
  position: relative;
}
.followers-header-b > .baseline-bh,
.tweet-header-b > .baseline-bh {
  position: absolute;
  left: 33.333333333333336%;
  top: 50%;
  margin-top: -11px;
}
.followers-header-b > .date-bh,
.tweet-header-b > .date-bh {
  margin-left: 40px;
}
.followers-header-b > .export-bh,
.tweet-header-b > .export-bh {
  float: right;
  margin-right: 40px;
}
.tweet-header-b > .header-bh {
  margin-left: 40px;
  float: left;
}
.tweet-header-b > .date-bh {
  margin-left: 60px;
}
.tweet-header-b > .baseline-bh {
  right: 167px;
  left: auto;
}
.named-dropdown-b > .name-bl,
.named-dropdown-b > .dropdown-bl {
  display: inline-block;
}
.named-dropdown-b > .dropdown-bl {
  margin-left: 10px;
}
.dropdown-b {
  text-align: left;
  border-bottom: 1px solid transparent;
  display: inline-block;
/* 3e991cfe97376df1d09bc63782c7363c */
}
.dropdown-b > .text-bl,
.dropdown-b > .arrow-be {
  display: inline-block;
  vertical-align: top;
}
.dropdown-b > .arrow-be {
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  margin-top: 2px;
  margin-left: 2px;
}
.dropdown-b.is-hoverable:hover {
  cursor: pointer;
  border-bottom: 1px solid #fff;
}
.lableled-filter-b {
  position: relative;
  padding-top: 1px;
}
.lableled-filter-b .filter-l {
  position: absolute;
  z-index: 1;
}
.lableled-filter-b .header-label-n-button-l {
  margin-left: 73px;
  margin-top: 3px;
}
.table-body-b {
  position: relative;
}
.table-body-b:after {
  content: '';
  width: 10px;
  margin-left: -5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 52.15%;
  background: url("i/average-circle.svg") repeat-y top center;
  background-size: 9px 9px;
  z-index: 5;
}
.table-line-b.is-brands2 > .score-bl,
.table-line-header-b.is-brands2 > .score-bl {
  width: 38%;
}
.table-line-b.is-brands2 > .progressbars-bl,
.table-line-header-b.is-brands2 > .progressbars-bl {
  width: 28.5%;
}
.table-line-b.is-brands2 > .multiply-bl,
.table-line-header-b.is-brands2 > .multiply-bl {
  width: 33.5%;
}
.table-line-b .column-bh,
.table-line-header-b .column-bh {
  float: left;
  text-align: center;
  min-height: 1px;
}
.table-line-b .column-bh.is-one,
.table-line-header-b .column-bh.is-one {
  width: 100%;
}
.table-line-b .column-bh > .header-label-e,
.table-line-header-b .column-bh > .header-label-e {
  margin-top: 10px;
}
.table-line-b .column-bh > .score-b,
.table-line-header-b .column-bh > .score-b {
  margin-left: 19px;
  margin-top: 39px;
}
.table-line-b .column-bh > .progressbar-pile-l,
.table-line-header-b .column-bh > .progressbar-pile-l {
  margin-top: 27px;
}
.table-line-b .column-bh > .multiply-e,
.table-line-header-b .column-bh > .multiply-e {
  margin-top: 46px;
}
.table-line-b .column-bh > .tags-l,
.table-line-header-b .column-bh > .tags-l {
  margin-top: 11px;
  margin-right: 20px;
}
.table-line-b > .score-bl,
.table-line-header-b > .score-bl {
  width: 37.666666666666664%;
  text-align: left;
  position: relative;
}
.table-line-b > .score-bl > .icon-bll,
.table-line-header-b > .score-bl > .icon-bll {
  position: absolute;
  left: 70%;
  top: 50%;
  margin-top: -2px;
}
.table-line-b > .score-bl .score-bl--social-icon-bh,
.table-line-header-b > .score-bl .score-bl--social-icon-bh {
  fill: rgba(114,138,146,0.55);
  width: 44px;
  height: 44px;
}
.table-line-b > .score-bl.is-left-padding,
.table-line-header-b > .score-bl.is-left-padding {
  padding-left: 77px;
}
.table-line-b > .progressbars-bl,
.table-line-header-b > .progressbars-bl {
  width: 29.000000000000004%;
}
.table-line-b > .multiply-bl,
.table-line-header-b > .multiply-bl {
  width: 15.500000000000002%;
}
.table-line-b > .tags-bl,
.table-line-header-b > .tags-bl {
  width: 17.833333333333336%;
}
.table-line-b,
.table-line-header-b {
  background-color: rgba(231,231,231,0.36);
  height: 124px;
}
.table-line-b:nth-of-type(odd),
.table-line-header-b:nth-of-type(odd) {
  background-color: rgba(241,241,241,0.62);
}
.table-line-b:nth-of-type(odd) .score-circle-e,
.table-line-header-b:nth-of-type(odd) .score-circle-e {
  color: #c9d4d8;
}
.table-line-header-b {
  background-color: transparent;
  color: #44596e;
  font-size: 24px;
  letter-spacing: 0;
  height: 101px;
  font-family: 'PT Sans', sans-serif;
}
.table-line-header-b:nth-of-type(odd) {
  background-color: transparent;
}
.table-line-header-b.is-small-height {
  height: 67px;
}
.table-line-header-b .column-bh {
  padding: 0;
}
.table-line-header-b .column-bh.is-check {
  color: #fff;
}
.table-line-header-b > .progressbars-bl {
  text-align: left;
}
.table-line-header-b > .tags-bl {
  text-align: right;
  padding-right: 20px;
}
.progressbar-b {
  background-color: #2997c4;
  height: 30px;
  line-height: 32px;
  text-align: left;
/* 1daa735ce39ed3b9367a5cd3415bc138 */
/* ba39589ca648fcd17017c8fe7d998684 */
/* 7dc4c922c1ff5acf6bee4602fd6b2656 */
}
.progressbar-b.is-striped {
  background-image: -webkit-linear-gradient(135deg, transparent 45%, rgba(255,255,255,0.6) 50%, transparent 55%);
  background-image: -moz-linear-gradient(135deg, transparent 45%, rgba(255,255,255,0.6) 50%, transparent 55%);
  background-image: -o-linear-gradient(135deg, transparent 45%, rgba(255,255,255,0.6) 50%, transparent 55%);
  background-image: -ms-linear-gradient(135deg, transparent 45%, rgba(255,255,255,0.6) 50%, transparent 55%);
  background-image: linear-gradient(135deg, transparent 45%, rgba(255,255,255,0.6) 50%, transparent 55%);
  background-size: 10px 10px;
}
.progressbar-b.is-grey {
  background-color: #8ea2a8;
}
.progressbar-b.is-average > .text-be:after {
  display: inline;
}
.progressbar-b > .text-be {
  color: #fff;
  font-size: 20px;
  letter-spacing: 0;
  font-weight: 300;
  padding-left: 9px;
}
.progressbar-b > .text-be:after {
  content: 'average';
  font-size: 14px;
  padding-left: 9px;
  position: relative;
  letter-spacing: 0;
  font-weight: 300;
  top: -3px;
  display: none;
}
.score-b {
  padding-top: 1px;
  text-align: left;
/* 28e600295c499dc709c3b1061c506e47 */
/* b0f99a28beadd654f34d55311e88d2da */
}
.score-b .score-circle-e {
  float: left;
}
.score-b > .text-be {
  font-size: 20px;
  font-weight: 600;
  color: #44596e;
  margin-left: 59px;
  margin-top: 10px;
  letter-spacing: 0;
  text-decoration: inherit;
  cursor: inherit;
}
.score-b.is-plain-text .score-circle-e {
  opacity: 0;
}
.score-b.is-hoverable:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer-copyright-b {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
.footer-about-b {
  color: #fff;
  font-size: 16px;
}
.footer-about-b > .header-be {
  font-weight: 700;
  margin-bottom: 12px;
}
.footer-about-b > .item-be {
  display: block;
  font-weight: 100;
}
.footer-about-b > .item-be + .item-be {
  margin-top: 4px;
}
.social-share-b {
  display: inline-block;
}
.social-share-b .icon {
  width: 24px;
  height: 24px;
  float: left;
}
.social-share-b .icon + .icon {
  margin-left: 24px;
}
.sidebar-menu-item-b:first-of-type > .sidebar-menu-header-sub-b:before {
  box-shadow: 0 -12px 0 #fff;
}
.sidebar-menu-item-b:first-of-type > .sidebar-menu-header-sub-b.is-sub2:before,
.sidebar-menu-item-b:first-of-type > .sidebar-menu-header-sub-b.is-sub3:before {
  box-shadow: 0 -6px 0 #fff;
}
.sidebar-menu-item-b:last-of-type > .sidebar-menu-header-sub-b:before {
  height: 50%;
}
.sidebar-menu-item-b.is-open > .content-bl {
  display: block;
}
.sidebar-menu-item-b > .content-bl {
  display: none;
}
.sidebar-menu-header-b,
.sidebar-menu-header-sub-b {
  height: 67px;
  padding: 12px 8px;
  position: relative;
  background: rgba(18,37,61,0.7);
/* 89a64cab9779a3f80167d765346da7dc */
/* 2c93e10d29f23bbaa0844ef81feb5a51 */
/* 920b75c3286f0a753b6d5a2527f87848 */
/* d1e432df9dd03b8786e08e00be1af00b */
/* b037867e34073d50bc30c547ef697510 */
/* 7895ef2ac47dc8930de8e801bf16631f */
/* 94d4b3d2ffb0210adad361abff10ae9d */
}
.sidebar-menu-header-b:hover,
.sidebar-menu-header-sub-b:hover {
  cursor: pointer;
  background: rgba(18,37,61,0.675);
}
.sidebar-menu-header-b.is-check,
.sidebar-menu-header-sub-b.is-check {
  background-color: rgba(18,37,61,0.5) !important;
}
.sidebar-menu-header-b.is-check > .text-bl,
.sidebar-menu-header-sub-b.is-check > .text-bl {
  color: #fff;
}
.sidebar-menu-header-b.is-check > .icon-bl,
.sidebar-menu-header-sub-b.is-check > .icon-bl {
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
}
.sidebar-menu-header-b:after,
.sidebar-menu-header-sub-b:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 4px;
  top: 0;
  right: 0;
}
.sidebar-menu-header-b.is-green-mark--oncheck.is-check:after,
.sidebar-menu-header-sub-b.is-green-mark--oncheck.is-check:after,
.sidebar-menu-header-b.is-green-mark--onhover:hover:after,
.sidebar-menu-header-sub-b.is-green-mark--onhover:hover:after {
  background: #29dcb8;
}
.sidebar-menu-header-b.is-blue-mark--oncheck.is-check:after,
.sidebar-menu-header-sub-b.is-blue-mark--oncheck.is-check:after,
.sidebar-menu-header-b.is-blue-mark--onhover:hover:after,
.sidebar-menu-header-sub-b.is-blue-mark--onhover:hover:after {
  background: #2997c4;
}
.sidebar-menu-header-b.is-red-mark--oncheck.is-check:after,
.sidebar-menu-header-sub-b.is-red-mark--oncheck.is-check:after,
.sidebar-menu-header-b.is-red-mark--onhover:hover:after,
.sidebar-menu-header-sub-b.is-red-mark--onhover:hover:after {
  background: #ff6d6a;
}
.sidebar-menu-header-b.is-orange-mark--oncheck.is-check:after,
.sidebar-menu-header-sub-b.is-orange-mark--oncheck.is-check:after,
.sidebar-menu-header-b.is-orange-mark--onhover:hover:after,
.sidebar-menu-header-sub-b.is-orange-mark--onhover:hover:after {
  background: #ffc778;
}
.sidebar-menu-header-b > .icon-bl,
.sidebar-menu-header-sub-b > .icon-bl {
  float: left;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-radius: 50%;
  padding: 6px;
}
.sidebar-menu-header-b > .icon-bl .icon,
.sidebar-menu-header-sub-b > .icon-bl .icon {
  width: 29px;
  height: 29px;
  fill: #fff;
}
.sidebar-menu-header-b > .text-bl,
.sidebar-menu-header-sub-b > .text-bl {
  margin-left: 53px;
  font-size: 20px;
  color: #a8afb8;
  margin-top: 14px;
  font-weight: 300;
}
.sidebar-menu-header-sub-b {
  padding-left: 45px;
  background-color: #1e394f;
  position: relative;
  height: 63px;
/* d7a0268c5d178625cbdfa5d991e4d1c0 */
/* f718f3c840abc57ca063892cf84b6aeb */
}
.sidebar-menu-header-sub-b.is-check:before {
  background-color: #fff;
}
.sidebar-menu-header-sub-b.is-check > .text-bl {
  color: #fff;
}
.sidebar-menu-header-sub-b.is-check > .plus-minus-bh {
  background-color: #fff;
  box-shadow: 0 0 0 3px #fff;
}
.sidebar-menu-header-sub-b.is-check > .minus-icon-bh {
  display: block;
}
.sidebar-menu-header-sub-b.is-check > .icon-bl .icon {
  fill: #fff;
}
.sidebar-menu-header-sub-b:before {
  content: '';
  width: 3px;
  height: 100%;
  top: 0;
  left: 28px;
  background-color: #4a6c82;
  position: absolute;
  z-index: 0;
}
.sidebar-menu-header-sub-b:hover {
  background-color: #213e56;
}
.sidebar-menu-header-sub-b > .icon-bl {
  border-width: 2px;
  border-style: solid;
  border-color: #4a6c82;
}
.sidebar-menu-header-sub-b > .icon-bl .icon {
  fill: #4a6c82;
}
.sidebar-menu-header-sub-b > .text-bl {
  color: #4a6c82;
}
.sidebar-menu-header-sub-b > .plus-minus-bh {
  width: 9px;
  height: 9px;
  background-color: #4a6c82;
  fill: #1e394f;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #4a6c82;
  position: absolute;
  left: 25px;
  top: 50%;
  margin-top: -2px;
  z-index: 1;
}
.sidebar-menu-header-sub-b > .minus-icon-bh {
  display: none;
}
.sidebar-menu-header-sub-b.is-sub2,
.sidebar-menu-header-sub-b.is-sub3 {
  height: 38px;
  padding: 8px 0;
}
.sidebar-menu-header-sub-b.is-sub2:before,
.sidebar-menu-header-sub-b.is-sub3:before {
  left: 66px;
}
.sidebar-menu-header-sub-b.is-sub2 > .icon-bl,
.sidebar-menu-header-sub-b.is-sub3 > .icon-bl {
  display: none;
}
.sidebar-menu-header-sub-b.is-sub2 > .text-bl,
.sidebar-menu-header-sub-b.is-sub3 > .text-bl {
  margin-left: 83px;
  margin-top: 3px;
  font-size: 16px;
}
.sidebar-menu-header-sub-b.is-sub2 > .plus-minus-bh,
.sidebar-menu-header-sub-b.is-sub3 > .plus-minus-bh {
  left: 63px;
  margin-top: -5px;
}
.sidebar-menu-header-sub-b.is-sub3.is-check > .plus-minus-bh {
  box-shadow: 0 0 0 1px #fff;
}
.sidebar-menu-header-sub-b.is-sub3:before {
  left: 104px;
}
.sidebar-menu-header-sub-b.is-sub3 > .text-bl {
  margin-left: 121px;
  margin-top: 1px;
}
.sidebar-menu-header-sub-b.is-sub3 > .plus-minus-bh {
  left: 101px;
  box-shadow: 0 0 0 1px #4a6c82;
}
.sidebar-menu-header-sub-b.is-sub3 > .plus-minus-bh svg {
  display: none;
}
.tab-circle-b {
  width: 75px;
  height: 75px;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background: url("https://pbs.twimg.com/profile_images/378800000858075549/nvy-OAxF_bigger.png") no-repeat center center;
  background-size: 100% auto;
  position: relative;
/* 91f28e51a4cffb32caebcda1cbff41fe */
/* cdeb25bb27099cc9d30dba3b4270f374 */
}
.tab-circle-b.is-number {
  background: transparent;
  width: 65px;
  height: 65px;
  font-size: 18px;
  line-height: 60px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}
.tab-circle-b.is-icon {
  background: transparent;
}
.tab-circle-b.is-icon .icon {
  fill: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -18px;
  margin-left: -18px;
  width: 36px;
  height: 36px;
}
.header-tab-b,
.header-tab-user-b {
  height: 93px;
  position: relative;
  font-size: 18px;
  text-align: center;
  background-color: #ff6d6a;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
/* a838c27d872842d7de9d925c5d9579db */
/* aa986cb9908637840d10b761512bbf3a */
/* 12776eaaa51ff13155eb6900f62d084c */
/* 766dfcc19fb177a6f7f8cca6aa9c33d5 */
}
.header-tab-b.is-check > .arrow-be,
.header-tab-user-b.is-check > .arrow-be {
  bottom: -18px;
}
.header-tab-b.is-check > .cross-icon-bh,
.header-tab-user-b.is-check > .cross-icon-bh {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header-tab-b.is-orange,
.header-tab-user-b.is-orange {
  background-color: #ffc778;
}
.header-tab-b.is-orange > .arrow-be,
.header-tab-user-b.is-orange > .arrow-be {
  border-top-color: #ffc778;
}
.header-tab-b.is-orange .tab-circle-b,
.header-tab-user-b.is-orange .tab-circle-b {
  background-color: #ffc778;
}
.header-tab-b.is-green,
.header-tab-user-b.is-green {
  background-color: #29dcb8;
}
.header-tab-b.is-green > .arrow-be,
.header-tab-user-b.is-green > .arrow-be {
  border-top-color: #29dcb8;
}
.header-tab-b.is-green .tab-circle-b,
.header-tab-user-b.is-green .tab-circle-b {
  background-color: #29dcb8;
}
.header-tab-b.is-blue,
.header-tab-user-b.is-blue {
  background-color: #2997c4;
}
.header-tab-b.is-blue > .arrow-be,
.header-tab-user-b.is-blue > .arrow-be {
  border-top-color: #2997c4;
}
.header-tab-b.is-blue .tab-circle-b,
.header-tab-user-b.is-blue .tab-circle-b {
  background-color: #2997c4;
}
.header-tab-b > .header-text-be,
.header-tab-user-b > .header-text-be,
.header-tab-b > .bottom-text-be,
.header-tab-user-b > .bottom-text-be {
  position: absolute;
  width: 100%;
}
.header-tab-b > .header-text-be,
.header-tab-user-b > .header-text-be {
  top: 14px;
  color: #274057;
  letter-spacing: 0;
  padding-left: 66px;
  font-weight: 300;
  font-family: 'PT Sans', sans-serif;
}
.header-tab-b > .bottom-text-be,
.header-tab-user-b > .bottom-text-be {
  color: #fff;
  bottom: 12px;
  font-weight: 200;
  padding-left: 40px;
  font-size: 20px;
}
.header-tab-b > .arrow-be,
.header-tab-user-b > .arrow-be {
  width: 0;
  height: 0;
  position: absolute;
  border-width: 9px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #ff6d6a;
  left: 50px;
  bottom: -9px;
  -webkit-transition: bottom 0.17s ease-out;
  -moz-transition: bottom 0.17s ease-out;
  -o-transition: bottom 0.17s ease-out;
  transition: bottom 0.17s ease-out;
}
.header-tab-b > .line-thrue-be,
.header-tab-user-b > .line-thrue-be {
  background-color: #fff;
  position: absolute;
  top: 50%;
  height: 1px;
  width: 100%;
  margin-top: -1px;
  z-index: 0;
}
.header-tab-b .tab-circle-b,
.header-tab-user-b .tab-circle-b {
  background-color: #ff6d6a;
  float: left;
  margin-top: 14px;
  margin-left: 11px;
  position: relative;
  z-index: 1;
}
.header-tab-b > .cross-icon-bh,
.header-tab-user-b > .cross-icon-bh {
  width: 20px;
  height: 20px;
  fill: #fff;
  position: absolute;
  right: 14px;
  bottom: 8px;
  -webkit-transition: all 0.17s ease-out;
  -moz-transition: all 0.17s ease-out;
  -o-transition: all 0.17s ease-out;
  transition: all 0.17s ease-out;
}
.header-tab-user-b {
  padding-left: 0;
  overflow: hidden;
  box-shadow: none;
}
.header-tab-user-b > .header-text-be {
  color: #fff;
  font-weight: 100;
  padding-left: 30px;
  font-size: 20px;
  top: 12px;
}
.header-tab-user-b > .bottom-text-be {
  padding-left: 30px;
  bottom: 13px;
  font-weight: 100;
  font-family: 'PT Sans', sans-serif;
}
.header-tab-user-b > .bottom-text-be:before {
  content: '@';
  opacity: 0;
}
.header-tab-user-b .tab-circle-b {
  margin-top: 10px;
  margin-left: 9px;
}
.header-tab-user-b .tab-circle-b:before {
  display: none;
}
.header-tab-user-b > .line-thrue-be {
  left: 20px;
}
.page-section-l {
  background-color: rgba(215,238,220,0.22);
}
.tables-fork-l > .left-ll,
.tables-fork-l > .right-ll {
  float: left;
}
.tables-fork-l > .left-ll {
  width: 75%;
}
.tables-fork-l > .right-ll {
  width: 25%;
  padding-left: 30px;
}
.legend-pile-l .legend-line-b + .legend-line-b {
  margin-top: 8px;
}
.table-n-header-l > .header-ll {
  margin-bottom: 42px;
  padding-left: 102px;
}
.header-label-n-button-l {
  height: 36px;
}
.header-label-n-button-l.is-level-up .level-up-btn-e {
  display: inline-block;
}
.header-label-n-button-l.is-level-up .header-label-e {
  margin-top: 0;
}
.header-label-n-button-l .header-label-e,
.header-label-n-button-l .level-up-btn-e {
  display: inline-block;
  vertical-align: middle;
}
.header-label-n-button-l .header-label-e {
  margin-top: 8px;
}
.header-label-n-button-l .level-up-btn-e {
  margin-left: 12px;
  display: none;
}
.filter-l {
  display: inline-block;
}
.filter-l .filter-input-e,
.filter-l .filter-input-btn-e {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}
.filter-l .filter-input-e {
  margin-right: -6px;
  width: 0;
  -webkit-transition: all 0.17s ease-out;
  -moz-transition: all 0.17s ease-out;
  -o-transition: all 0.17s ease-out;
  transition: all 0.17s ease-out;
}
.filter-l .filter-input-e:focus {
  width: 190px;
}
.filter-l .filter-input-e:focus + .filter-input-btn-e {
  width: 62px;
  padding-left: 16px;
}
.progressbar-pile-l {
  width: 50%;
/* 2d92b44eef44420c94a2f4f54286e940 */
}
.progressbar-pile-l > .progressbar-ll + .progressbar-ll {
  margin-top: 8px;
}
.progressbar-pile-l.is-two > .progressbar-ll + .progressbar-ll {
  margin-top: 28px;
}
.tags-l {
  text-align: right;
}
.tags-l .tag-cell-ll + .tag-cell-ll {
  margin-top: 9px;
}
.progressbars-l .left-ll,
.progressbars-l .right-ll {
  width: 50%;
  float: left;
}
.footer-l {
  text-align: center;
  background-color: rgba(114,150,163,0.8);
  padding: 10px 0 20px;
}
.footer-l .footer-about-fork-l {
  margin-top: 41px;
  margin-left: 60px;
}
.footer-l .footer-copyright-b {
  margin-top: 30px;
}
.footer-about-fork-l {
  text-align: left;
}
.footer-about-fork-l .footer-about-b {
  float: left;
}
.footer-about-fork-l .footer-about-b + .footer-about-b {
  margin-left: 47px;
}
.sidebar-menu-section-l + .sidebar-menu-section-l {
  border-top: 1px solid #828e95;
}
.fork-l > .fork-item-l {
  float: left;
}
.one-of-3-l {
  width: 33.333333333333336%;
}
.header-l {
  background: #ff6d6a;
  height: 100px;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header-l .main-logo-b {
  color: c-bg;
  margin-top: -5px;
}
.header-l .round-icon-b {
  float: right;
}
.header-l .round-icon-b + .round-icon-b {
  margin-right: 20px;
}
.side-icons-l {
  display: inline-block;
}
.side-icons-l .timer-b {
  margin-bottom: 40px;
}
.side-icons-l .icon {
  margin: 0 auto;
}
.side-icons-l .icon + .icon {
  margin-top: 20px;
}
.recipes-l .recipe-b + .recipe-b:after {
  content: '';
  width: 100%;
  height: 20px;
  top: -10px;
  position: absolute;
  background-image: -webkit-repeating-radial-gradient(center center, #ff6d6a, #ff6d6a 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, #ff6d6a, #ff6d6a 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, #ff6d6a, #ff6d6a 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, #ff6d6a, #ff6d6a 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 10px 10px;
  -moz-background-size: 10px 10px;
  background-size: 10px 10px;
}
.icon {
  width: 40px;
  height: 40px;
  fill: #4a6c82;
  display: block;
  position: relative;
}
.icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.icon svg {
  float: left;
  width: 100%;
  height: 100%;
}
.icon.is-white {
  fill: #fff;
}
.icon.is-white.is-hoverable:hover {
  fill: #f2f2f2;
}
.icon.is-hoverable:hover {
  fill: #ff5451;
  cursor: pointer;
}
#sidebar-l {
  min-height: 100%;
  width: 324px;
  float: left;
  position: relative;
  overflow: hidden;
}
#sidebar-l > .top-ll {
  float: left;
  width: 100%;
}
#sidebar-l > .bottom-ll {
  clear: both;
  color: #fff;
  background: rgba(18,37,61,0.7);
  display: block;
  margin-bottom: -999999999px;
  padding-bottom: 999999999px;
}
#main-l {
  margin-left: 324px;
  min-height: 100%;
}
