c-red 	= #ff6d6a
c-red-hover = darken(c-red, 5)

c-orange = #ffc778
c-orange-hover = darken(c-orange, 5)

c-green = #29dcb8
c-green-hover = lighten(c-green, 5)

c-blue1 				= #12253d
c-blue1-hover 	= lighten(c-blue1, 5)

c-blue2 				= #526779
c-blue2-hover 	= lighten(c-blue2, 5)

c-blue3 				= #4a6c82
c-blue3-hover 	= lighten(c-blue3, 5)

// c-blue5 				= #2997c4
// c-blue5-hover 	= lighten(c-blue5, 5)

c-blue4 				= #2997c4
c-blue4-hover 	= lighten(c-blue4, 5)



c-grey1 = #586575
c-grey1-hover 	= lighten(c-grey1, 5)

c-grey2 = #8ea2a8
c-grey2-hover 	= lighten(c-grey2, 5)



stepSize = 10
c-black1 = #232323

c-black2 = lighten(c-black1, stepSize)
c-black2-hover = lighten(c-black2, 5)

c-black3 = lighten(c-black2, stepSize)
c-black3-hover = lighten(c-black3, 5)


c-black4 = lighten(c-black3, stepSize)
c-black4-hover = lighten(c-black4, 5)

c-black5 = lighten(c-black4, stepSize)
c-black5-hover = lighten(c-black5, 5)

c-black6 = lighten(c-black5, stepSize)
c-black6-hover = lighten(c-black6, 5)

c-black7 = lighten(c-black6, stepSize)
c-black7-hover = lighten(c-black7, 5)

c-black8 = lighten(c-black7, stepSize)
c-black8-hover = lighten(c-black8, 5)

c-black9 = lighten(c-black8, stepSize)
c-black9-hover = lighten(c-black9, 5)

c-black10 = lighten(c-black9, stepSize)
c-black10-hover = lighten(c-black10, 5)







