// BLOCKS
@import '../assets/imports.styl'

/* b340dd6580044b2ee07cecd93867f1d2 */
.legend-line-b
	list-style none
	display block
	margin 0
	padding 0

	&.is-hoverable
		&:hover
			cursor pointer

	> .right-bl
		float right
		font-size 18px
		color #445469
		letter-spacing 0

/* f63b2b6affc1d7652fcd552280004a39 */
.legend-label-b
	display inline-block

	> .text-be
		margin-left 18px
		font-size 18px
		color #445469
		letter-spacing 0

	.legend-circle-e
		float left
		margin-top 2px


/* 1f6ae71e1a5e12c00650eefc7b9a3b6d */
.pie-graph-b
	// width 170px

	.pie-graph-b--pie-bh
		width 75%
		// margin 0 auto
		// margin-left - 12.5%

.svg-bargraph-b
	position relative
	height 30px
	fill #2997c4

	> .progress-bl, > .extra-bl
		display block
		height 30px

	> .progress-bl
		position relative
		z-index 2

		> .text-ble
			position absolute
			t 6px
			color white
			font-size 20px
			letter-spacing 0
			font-weight 300
			padding-left 9px

	> .extra-bl
		position absolute
		width 100%
		z-index 1
		nw 0
	
	/* 3b75ff5b211c22a36dc9c88995cf9cf2 */
	&.is-grey
		fill #8ea2a8
	
	/* 8d291bad4675df8002e34cece6c51302 */
	&.is-average
		&:after
			content 'average'
			position absolute
			t 8px
			r 8px
			z-index 3
			color white
			font-size 14px
			padding-left 9px
			letter-spacing 0
			font-weight 300


/* 16339d00bcc3f425453ba86e56bec4d6 */
.header-btn-n-icon-b
	padding-top 1px
	display inline-block
	
	> .icon-bl
		display inline-block
		vertical-align top
		margin-left 6px
		position relative
		top -5px

		.icon
			rect 25px

/* acd8c9c668e57ee90593410adec4b8c6 */
.terms-block-b
	background-color #273d55
	text-align center
	padding 21px 0
	position relative

	&.is-open
		> .terms-bl
			max-height 135px
			height auto
		
	> .header-be
		font-size 20px
		color #c7cbd2
		font-weight 200
		letter-spacing 0
	> .terms-bl
		height 25px
		overflow hidden
		line-height 25px
		// width 200px
		// margin 0 auto
		margin-top 16px

	iconColor = #a5b0b9
	.terms-block-b--cross-icon-bh
		position absolute
		ne 16px
		rect 20px
		fill iconColor

		&:hover
			fill lighten(iconColor, 10)
			cursor pointer

	.term-e 
		+ .term-e
			margin-left 4px

/* 3648c6de7617651f11ac6af054f02c2d */
.college-footer-b
	background-color rgba(#e7e7e7, .34)
	padding 23px 41px
	color #44596e
	font-size 20px
	line-height 24px
	font-weight 200
	letter-spacing 0

	.aterics-bh
		position relative
		&:before
			content '*'
			position absolute
			left - 17px

/* de6575b1d4aa31323fdc22d108a1cd70 */
.report-block-header-b
	text-align left
	.icon 
		fill white
		float left
		rect 47px
	.text-be
		// color white
		color #445469
		font-size 36px
		font-weight 100
		margin-left 53px
		margin-top 6px
		display inline-block
		border-bottom 1px solid transparent
		ptSans()

		&.is-check
			color white

		&.is-hoverable
			&:hover
				cursor pointer
				border-bottom 1px solid


/* 1312a4cb67c1fced95de038209e0811f */
.followers-header-b
	background-color rgba(#445469, .37)
	height 81px
	padding-top 30px
	position relative

	> .baseline-bh
		position absolute
		left (100/3)%
		top 50%
		margin-top - 11px
	
	> .date-bh
		margin-left 40px

	> .export-bh
		float right
		margin-right 40px

/* 916d92f513be5496b49f168a07f9dde4 */
.tweet-header-b
	@extend .followers-header-b

	> .header-bh
		margin-left 40px
		float left

	> .date-bh
		margin-left 60px

	> .baseline-bh
		right 167px
		left auto
		

		
		



/* 1627a810777655d87836a18e1ad993ed */
.named-dropdown-b
	> .name-bl, > .dropdown-bl
		display inline-block

	> .dropdown-bl
		margin-left 10px

/* e8a3335f585a152361961c90778b20c0 */
.dropdown-b
	text-align left
	border-bottom 1px solid transparent
	display inline-block

	> .text-bl, > .arrow-be
		display inline-block
		vertical-align top

	// > .text-bl 
	// 	text-decoration inherit
	
	> .arrow-be
		border 1px solid white
		border-top-color 		transparent
		border-left-color transparent
		crossTransform rotate(45deg)
		rect 10px
		margin-top 2px
		margin-left 2px
	
	/* 3e991cfe97376df1d09bc63782c7363c */
	&.is-hoverable
		&:hover
			cursor pointer
			border-bottom 1px solid white

/* 0ef89de3f0aed9ba26dc5b2d0ffd9361 */
.lableled-filter-b
	position relative
	padding-top 1px
	.filter-l
		position absolute
		z-index 1

	.header-label-n-button-l
		margin-left 73px
		margin-top 3px

/* e69ecf7ab9dee0358c04a4ad1c3932f7 */
.table-body-b
	position relative

	averageWidth = 10px
	&:after
		content ''
		width averageWidth
		margin-left -(averageWidth/2)
		height 100%
		position absolute
		t 0
		l 100*.5215%
		background url('i/average-circle.svg') repeat-y top center
		background-size 9px 9px
		z-index 5


/* 90ef8d2448cfbc7e97abb0e374db4870 */
.table-line-b
	&.is-brands2
		> .score-bl
			width 38%
		> .progressbars-bl
			width 28.5%
		> .multiply-bl
			width 33.5%
				
	.column-bh
		float left
		text-align center
		min-height 1px

		&.is-one
			width 100%
			
		> .header-label-e
			margin-top 10px

		> .score-b
			margin-left 19px
			margin-top 	39px

		> .progressbar-pile-l
			margin-top 27px

		> .multiply-e
			margin-top 46px

		> .tags-l
			margin-top 	11px
			margin-right 20px
			
	scoreNProgress = 2*(100/3)%
	> .score-bl
		width scoreNProgress*.565
		text-align left
		position relative

		> .icon-bll
			position absolute
			left 	70%
			top 	50%
			margin-top - 2px
		
		.score-bl--social-icon-bh
			fill rgba(darken(#8fa2a8, 10), .55)
			rect 44px

		&.is-left-padding
			padding-left 77px

	> .progressbars-bl
		width scoreNProgress*.435

	multyNTags = (100/3)%
	> .multiply-bl
		width multyNTags*.465

	> .tags-bl
		width multyNTags*.535
		



/* 90ef8d2448cfbc7e97abb0e374db4870 */
.table-line-b
	background-color rgba(#e7e7e7, .36)
	height 124px
			
	&:nth-of-type(odd)
		background-color rgba(#f1f1f1, .62)

		.score-circle-e
			color  #c9d4d8

.table-line-header-b
	@extend .table-line-b
	background-color transparent
	color #44596e
	font-size 24px
	letter-spacing 0
	height 101px
	ptSans()

	&:nth-of-type(odd)
		background-color transparent

	&.is-small-height
		height 67px

	.column-bh
		padding 0
		// 4!
		&.is-check
			color white

	> .progressbars-bl
		text-align left

	> .tags-bl
		text-align right
		padding-right 20px


//- DEPRECATED ------------------------------------------------------

/* d9d692570bbad4dc7dea4e95e8a18527 */
.progressbar-b
	background-color c-blue4
	height 30px
	line-height 32px
	text-align left

	/* 1daa735ce39ed3b9367a5cd3415bc138 */
	color = rgba(255,255,255,.6)
	&.is-striped
		background-image: -webkit-linear-gradient(135deg,transparent 45%,color 50%,transparent 55%);
		background-image: -moz-linear-gradient(135deg,transparent 45%,color 50%,transparent 55%);
		background-image: -o-linear-gradient(135deg,transparent 45%,color 50%,transparent 55%);
		background-image: -ms-linear-gradient(135deg,transparent 45%,color 50%,transparent 55%);
		background-image: linear-gradient(135deg,transparent 45%,color 50%,transparent 55%);
		background-size 10px 10px

	
	/* ba39589ca648fcd17017c8fe7d998684 */
	&.is-grey
		background-color #8ea2a8

	/* 7dc4c922c1ff5acf6bee4602fd6b2656 */
	&.is-average
		> .text-be
			// 4!
			&:after
				display inline

	> .text-be
		color white
		font-size 20px
		letter-spacing 0
		font-weight 300
		padding-left 9px

		&:after
			content 'average'
			font-size 14px
			padding-left 9px
			position relative
			letter-spacing 0
			font-weight 300
			top -3px
			display none

//- DEPRECATED ------------------------------------------------------

/* eac9a691442f03ebe1084a0a6eb30f5a */
.score-b
	padding-top 1px
	text-align left

	.score-circle-e
		float left

	> .text-be
		font-size 20px
		font-weight 600
		color #44596e
		margin-left 59px
		margin-top 10px
		letter-spacing 0
		text-decoration inherit
		cursor inherit

	/* 28e600295c499dc709c3b1061c506e47 */
	&.is-plain-text
		.score-circle-e
			opacity 0
	
	/* b0f99a28beadd654f34d55311e88d2da */
	&.is-hoverable
		&:hover
			text-decoration underline
			cursor pointer
		
		

/* 98563fbea95348eb229352f8427d95a1 */
.footer-copyright-b
	color white
	font-size 15px
	font-weight 600

/* f934d17cc3f0e13f69feaa928d6fbd22 */
.footer-about-b
	color white
	font-size 16px
	> .header-be
		font-weight 700
		margin-bottom 12px

	> .item-be
		display block
		font-weight 100
		+ .item-be
			margin-top 4px

/* 18ec867773b0af97d00745d5be079931 */
.social-share-b
	display inline-block
	.icon
		rect 24px
		float left
		+ .icon
			margin-left 24px

/* 217c0a46b063374e01ce9556998a9325 */
.sidebar-menu-item-b
	&:first-of-type
		> .sidebar-menu-header-sub-b
			&:before
				box-shadow 0 -12px 0 white
			&.is-sub2, &.is-sub3
				&:before
					box-shadow 0 -6px 0 white

	&:last-of-type
		> .sidebar-menu-header-sub-b
			&:before
				height 50%

	&.is-open 
		> .content-bl
			display block

	> .content-bl
		display none

/* 7f2ec201ce0694f22a08f2e065c4b735 */
hightlightWidth = 4px
.sidebar-menu-header-b
	height 67px
	padding  12px 8px
	position relative
	padding-right hightlightWidth
	background rgba(c-blue1,.7)

	&:hover
		cursor pointer
		background rgba(c-blue1,.675)

	/* 89a64cab9779a3f80167d765346da7dc */
	&.is-check
		background-color rgba(c-blue1,.5) II

		> .text-bl
			color white

		> .icon-bl 
			border 2px solid white

	&:after
		content ''
		position absolute
		height 100%
		width  hightlightWidth
		top 0
		right 0

	/* 2c93e10d29f23bbaa0844ef81feb5a51 */
	&.is-green-mark--oncheck.is-check, &.is-green-mark--onhover:hover
		&:after
			background c-green
	
	/* 920b75c3286f0a753b6d5a2527f87848 */
	&.is-blue-mark--oncheck.is-check, &.is-blue-mark--onhover:hover
		&:after
			background c-blue4
	
	/* d1e432df9dd03b8786e08e00be1af00b */
	/* b037867e34073d50bc30c547ef697510 */
	&.is-red-mark--oncheck.is-check, &.is-red-mark--onhover:hover
		&:after
			background c-red
	
	/* 7895ef2ac47dc8930de8e801bf16631f */
	/* 94d4b3d2ffb0210adad361abff10ae9d */
	&.is-orange-mark--oncheck.is-check, &.is-orange-mark--onhover:hover
		&:after
			background c-orange

	> .icon-bl 
		float left
		border 2px solid transparent
		border-radius 50%
		padding 6px

		.icon
			rect 29px
			fill white

	> .text-bl
		margin-left 53px
		font-size 20px
		color #a8afb8
		margin-top 14px
		font-weight 300

/* d7a0268c5d178625cbdfa5d991e4d1c0 */
bgColor = #1e394f
.sidebar-menu-header-sub-b
	@extend .sidebar-menu-header-b
	padding-left 45px
	background-color bgColor
	position relative
	height 63px

	&.is-check
		&:before
			background-color white
		> .text-bl
			color white
		> .plus-minus-bh
			background-color white
			box-shadow 0 0 0 3px white
		> .minus-icon-bh
			display block
		> .icon-bl 
			// 4!
			.icon
				fill white

	blue1 = #4a6c82
	&:before
		content: ''
		width 3px
		height 100%
		top 0
		left 28px
		background-color blue1
		position absolute
		z-index 0

	&:hover
		background-color lighten(bgColor, 2)
	
	> .icon-bl 
		border 2px solid blue1

		.icon
			fill blue1

	> .text-bl
		color blue1

	> .plus-minus-bh
		rect 9px
		background-color blue1
		fill bgColor
		border-radius 50%
		box-shadow 0 0 0 3px blue1
		position absolute
		left 25px
		top 50%
		margin-top - 2px
		z-index 1

	> .minus-icon-bh
		display none

	/* d7a0268c5d178625cbdfa5d991e4d1c0 */
	&.is-sub2, &.is-sub3
		height 38px
		padding 8px 0
		
		&:before
			left 66px

		> .icon-bl 
			display none

		> .text-bl
			margin-left 83px
			margin-top 	3px
			font-size 16px
			
		> .plus-minus-bh
			left 63px
			margin-top - 5px

	/* f718f3c840abc57ca063892cf84b6aeb */
	&.is-sub3
		
		&.is-check
			> .plus-minus-bh
				box-shadow 0 0 0 1px white

		&:before
			left 104px

		> .text-bl
			margin-left 121px
			margin-top 1px
			
		> .plus-minus-bh
			left 101px
			box-shadow 0 0 0 1px blue1

			svg
				display none

/* b7fd66c98927030c63e5bc85e79603cf */
.tab-circle-b
	rect 75px
	border 1px solid white
	border-radius 50%
	text-align center
	color white
	background url('http://placekitten.com/75/75') no-repeat center center
	position relative

	/* 91f28e51a4cffb32caebcda1cbff41fe */
	&.is-number
		background transparent
		rect 65px
		font-size 18px
		line-height 60px
		font-weight 600
		openSans()

	/* cdeb25bb27099cc9d30dba3b4270f374 */
	iconSize = 36px
	&.is-icon
		background transparent
		.icon
			fill white
			position absolute
			top 50%
			l 50%
			margin-top  - (iconSize/2)
			margin-left - (iconSize/2)
			rect iconSize
			

/* 5e50955e8ae19f7e87c097ef0840e455 */
.header-tab-b
	height 93px
	position relative
	font-size 18px
	text-align center
	background-color c-red
	box-shadow 0 1px 0 rgba(0,0,0,.1)
	
	/* a838c27d872842d7de9d925c5d9579db */
	&.is-check
		> .arrow-be
			bottom  -18px
		> .cross-icon-bh
			crossTransform rotate(45deg)


	/* aa986cb9908637840d10b761512bbf3a */
	&.is-orange
		background-color c-orange

		> .arrow-be
			border-top-color c-orange

		.tab-circle-b
			background-color c-orange

	/* 12776eaaa51ff13155eb6900f62d084c */
	&.is-green
		background-color c-green

		> .arrow-be
			border-top-color c-green

		.tab-circle-b
			background-color c-green

	/* 766dfcc19fb177a6f7f8cca6aa9c33d5 */
	&.is-blue
		background-color c-blue4
		
		> .arrow-be
			border-top-color c-blue4

		.tab-circle-b
			background-color c-blue4


	> .header-text-be, > .bottom-text-be
		position absolute
		width 100%

	> .header-text-be
		top 14px
		color #274057
		letter-spacing 0
		padding-left 66px
		font-weight 300
		ptSans()

	> .bottom-text-be
		color white
		bottom 12px
		font-weight 200
		padding-left 40px
		font-size 20px

	> .arrow-be
		rect 0 
		position absolute
		border 9px solid transparent
		border-top-color c-red
		left 50px
		bottom -9px
		crossTransition bottom .17s ease-out

	> .line-thrue-be
		background-color white
		position absolute
		top 50%
		height 1px 
		width 100%
		margin-top -1px
		z-index 0
	
	marginLeft = 11px
	.tab-circle-b
		background-color c-red
		float left
		margin-top 14px
		margin-left marginLeft
		position relative
		z-index 1

	> .cross-icon-bh
		rect 20px
		fill white
		position absolute
		right  14px
		bottom 8px
		crossTransition all .17s ease-out

/* 766dfcc19fb177a6f7f8cca6aa9c33d5 */
.header-tab-user-b
	@extend .header-tab-b
	padding-left 0
	overflow hidden
	box-shadow none

	> .header-text-be
		color white
		font-weight 200
		padding-left 70px
		font-size 20px
		top 12px
	> .bottom-text-be
		padding-left 70px
		bottom 13px
		font-weight 100
		letter-spacing 0
		ptSans()
		&:before
			content: '@'
			opacity 0

	.tab-circle-b
		margin-top 10px
		margin-left 9px

		&:before
			display none

	> .line-thrue-be
		left 20px











	
