// ELEMENTS
@import '../assets/imports.styl'

/* 6c129f16dd96d06fdb801cdce1eed660 */
.multiply-e
	font-size 26px
	color #44596e
	font-weight 200
	letter-spacing 0

	/* 19f71a51c0d5bed322aa620bdba5e4cc */
	&.is-blue
		color c-blue4
					
/* 06b475a811e4d94a28535a071cb4c83e */
.score-circle-e
	background-color #526779
	border-radius 50%
	text-align center
	rect 42px
	line-height 42px
	font-size 16px
	color #9cb5bd
	font-weight 500
	letter-spacing 0

/* c39be41115f94c1c17bbf581d77838c8 */
.sidebar-logo-e
	color white
	font-size 30px
	font-weight 700
	text-align center
	height 81px
	padding-top 28px
	background-color rgba(#1c2e43, .34)
	background-color rgba(c-blue1, .5)
	ptSans()

/* 75265e958b07e0885d471fb3734cb272 */
.tag-e
	border 1px solid white
	border-radius 14px
	font-size 18px
	display inline-block
	color #44596e
	padding 2px 14px 6px
	font-weight 100
	letter-spacing 0



