// ELEMENTS
@import '../assets/imports.styl'

a
	&.is-hoverable
		&:hover
			text-decoration underline

/* c39be41115f94c1c17bbf581d77838c8 */
.sidebar-logo-e
	color white
	font-size 30px
	font-weight 700
	text-align center
	height 81px
	padding-top 28px
	background-color rgba(#1c2e43, .34)
	background-color rgba(c-blue1, .5)
	ptSans()


