// GENERAL
@import '../assets/imports.styl'

*
	bbox()

a
	&.is-hoverable
		&:hover
			text-decoration underline

body, html
	min-rect 100%
	margin 0
	padding 0
	overflow-x hidden
	letter-spacing 0

body
	background-color c-bg
	openSans()
	letter-spacing 1px
	background c-black8

@css{
	::selection{
		background-color: #ff6d6a;
	  color: white;
	  text-shadow: none;
	}

	::-moz-selection{
		background-color: #ff6d6a;
	  color: white;
	  text-shadow: none;
	}
	
}


.m-t-de-1-g
	margin-top -1px

.margin-center-g
	margin-left auto
	margin-right auto

// COLORS
.c-grey1-g
	color c-grey1
.c-grey2-g
	color c-grey2
.c-grey2-hover-g
	color c-grey2-hover

.c-grey3-g
	color c-grey3
// COLORS

// FONT
.bold-g, .b-g
	font-weight bold
// FONT

.f-s-14-g
	font-size 14px

.f-s-15-g
	font-size 15px

.f-s-20-g
	font-size 20px

.i-g
	display inline

.open-sans-g
	openSans()

.pt-sans-g
	ptSans()

.op-0-g
	opacity 0
.op-5-g
	opacity .5

a, .link-e
	text-decoration none
	position relative
	color inherit


.float-left-g,  .f-l-g
	float left
.float-right-g, .f-r-g
	float right


.h-g
	display none
.h-g-i
	display none II


// CLEARFIX
.cf:after,
.cf:before {
    content: '';
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    zoom: 1;
}


metrics()
	maxSize = 100
	short = w h
	long  = width height
	for property, j in long
		for i in 1..maxSize
			.{property}-x{i}-g, .{short[j]}-x{i}-g
				{property} i*gs
	
	maxSize = 20
	short = m p
	long  = margin padding
	for property, j in long
		for i in 1..maxSize
			shortSide = -l -r -t -b ''
			longSide  = -left -right -top -bottom ''
			for prop, x in longSide

				.{property}{prop}-x{i}-g, .{short[j]}{shortSide[x]}-x{i}-g
					{property}{prop} i*gs


colors()
	colors 			=   c-grey2 	  c-grey1  	c-blue4   c-blue3 	 c-blue2   c-blue1    c-green    c-red   c-orange   c-black1   c-black2   c-black3   c-black4   c-black5    c-black6  c-black7  c-black8  c-black9  c-black10
	colorsNames = 	'c-grey2'  'c-grey1' 	'c-blue' 'c-blue3' 'c-blue2' 'c-blue1'  'c-green' 'c-red' 'c-orange'  'c-black1' 'c-black2' 'c-black3' 'c-black4' 'c-black5' 'c-black6'  'c-black7' 'c-black8' 'c-black9' 'c-black10'
	for color, i in colors
		.{colorsNames[i]}-bg-g
			background-color color
		.{colorsNames[i]}-bg-g.is-hoverable:hover
			background-color colorsNames[i] + '-hover'
			
metrics()
colors()




