// ICONS
@import '../assets/imports.styl'

.icon
	rect 4*gs
	fill c-blue3
	display block
	position relative
	&:after
		content: ''
		rect 100%
		position absolute
		nw 0

	svg
		float left
		rect 100%

	&.is-white
		fill white

		&.is-hoverable
			// 4!
			&:hover
				fill darken(white, 5)

	&.is-hoverable
		&:hover
			fill c-red-hover
			cursor pointer
