// LAYOUTS
@import '../assets/imports.styl'

/* 27479f6152b26f43030ff29721d3fdbf */
.legend-pile-l
	.legend-line-b
		+ .legend-line-b
			margin-top 8px

/* 67580467bd5a1d2bbef32dd764a7d1bd */
.table-n-header-l
	> .header-ll
		margin-bottom 42px
		padding-left 102px

/* 7cd6892560eb91e00cb49a245ef6d2a2 */
.header-label-n-button-l
	height 36px

	&.is-level-up
		.level-up-btn-e
			display inline-block
		.header-label-e
			margin-top 0

	.header-label-e, .level-up-btn-e
		display inline-block
		vertical-align middle

	.header-label-e
		margin-top 8px

	.level-up-btn-e
		margin-left 12px
		display none


/* 1cbc1220e27421d2e68a567e40c562c6 */
.filter-l
	display inline-block
	
	.filter-input-e, .filter-input-btn-e
		display inline-block
		vertical-align top
		white-space nowrap
	
	.filter-input-e
		margin-right -6px
		width 0
		crossTransition all .17s ease-out

		&:focus
			width 190px
			
			// 4!
			+ .filter-input-btn-e
				width 62px
				padding-left 16px



/* 2267092b2d5496cfce2d1accf804b5e9 */
.progressbar-pile-l
	width 50%
	> .progressbar-ll
		+ .progressbar-ll
			margin-top 8px

/* 4666827a7e2b3e760808931f1179d353 */
.tags-l
	text-align right
	.tag-cell-ll
		+ .tag-cell-ll
			margin-top 9px

//- DEPRECATED ------------------------------------------------------

/* 6429dbfbb7c20e73e549c48a40c3fc3f */
.progressbars-l
	.left-ll, .right-ll
		width 50%
		float left

//- DEPRECATED ------------------------------------------------------

/* fb6b0a6ab7177befac542483227c1271 */
.footer-l
	text-align center
	background-color rgba(#7296a3, .8)
	padding 10px 0 20px

	.footer-about-fork-l
		margin-top 41px
		margin-left 60px

	.footer-copyright-b
		margin-top 30px

		

/* c2f329ceefdef1792b46bee211d07d4f */
.footer-about-fork-l
	text-align left
	.footer-about-b
		float left
		+ .footer-about-b
			margin-left 47px


/* 4ac89d84f8813a1b3b341bbfe8cf212c */
.sidebar-menu-section-l
	+ .sidebar-menu-section-l
		border-top 1px solid #828e95

/* bd29d58273a1753588c87babd35aace2 */
.fork-l
	> .fork-item-l
		float left

/* bd29d58273a1753588c87babd35aace2 */
.one-of-3-l
	width (100/3)%

/* dd04606902318dfad515e02a3c14ffac */
.header-l
	background c-red
	height 10*gs
	padding 1.5*gs 2*gs
	position fixed
	nw 0
	width 100%

	.main-logo-b
		color c-bg
		margin-top - .5*gs

	.round-icon-b
		float right
		+ .round-icon-b
			margin-right 2*gs

/* feb03c3fd9a570d91898fa4168083412 */
.side-icons-l
	display inline-block
	.timer-b
		margin-bottom 4*gs
	.icon
		margin 0 auto
		+ .icon
			margin-top 2*gs

/* feb03c3fd9a570d91898fa4168083412 */
.recipes-l
	.recipe-b
		& + .recipe-b
			// 4!
			&:after
				content ''
				width 100%
				height 2*gs
				top - gs
				position: absolute

				background-image: -webkit-repeating-radial-gradient(center center, c-red, c-red (1px), transparent (1px), transparent 100%);
				background-image: -moz-repeating-radial-gradient(center center, c-red, c-red (1px), transparent (1px), transparent 100%);
				background-image: -ms-repeating-radial-gradient(center center, c-red, c-red (1px), transparent (1px), transparent 100%);
				background-image: repeating-radial-gradient(center center, c-red, c-red (1px), transparent (1px), transparent 100%);
				-webkit-background-size: gs gs
				-moz-background-size: gs gs
				background-size: gs gs
