
<div class="footer-l">
  <div class="social-share-b">
    <div id="" title="" class="icon is-white is-hoverable">
      <svg viewBox="0 0 32 32">
        <use xlink:href="#twitter-icon"></use>
      </svg>
    </div>
    <div id="" title="" class="icon is-white is-hoverable">
      <svg viewBox="0 0 32 32">
        <use xlink:href="#fb-icon"></use>
      </svg>
    </div>
    <div id="" title="" class="icon is-white is-hoverable">
      <svg viewBox="0 0 32 32">
        <use xlink:href="#youtube-icon"></use>
      </svg>
    </div>
    <div id="" title="" class="icon is-white is-hoverable">
      <svg viewBox="0 0 32 32">
        <use xlink:href="#instagram-icon"></use>
      </svg>
    </div>
  </div>
  <div class="footer-about-fork-l cf">
    <div class="footer-about-b">
      <div class="header-be">ABOUT</div><a href="#" class="item-be is-hoverable">PeekYou LLC</a><a href="#" class="item-be is-hoverable">PeekAnalytics</a><a href="#" class="item-be is-hoverable">Contact Us</a><a href="#" class="item-be is-hoverable">People Search</a>
    </div>
    <div class="footer-about-b">
      <div class="header-be">PRODUCT DEMOS</div><a href="#" class="item-be is-hoverable">Social Audience Report</a><a href="#" class="item-be is-hoverable">Top 1000 Tech Investors</a>
    </div>
    <div class="footer-about-b">
      <div class="header-be">Legal</div><a href="#" class="item-be is-hoverable">Privacy Policy</a><a href="#" class="item-be is-hoverable">Terms of Use</a>
    </div>
  </div>
  <div class="footer-copyright-b">© Copyright 2013 PeekAnalytics, Inc. A Patent Pending People Search Process. All Rights Reserved</div>
</div>