.footer-about-fork-l.cf
	.footer-about-b
		.header-be ABOUT
		a(href="#").item-be.is-hoverable PeekYou LLC
		a(href="#").item-be.is-hoverable PeekAnalytics
		a(href="#").item-be.is-hoverable Contact Us
		a(href="#").item-be.is-hoverable People Search

	.footer-about-b
		.header-be PRODUCT DEMOS
		a(href="#").item-be.is-hoverable Social Audience Report
		a(href="#").item-be.is-hoverable Top 1000 Tech Investors

	.footer-about-b
		.header-be LEGAL
		a(href="#").item-be.is-hoverable Privacy Policy
		a(href="#").item-be.is-hoverable Terms of Use