//- , style="width:324px;"
.header-tab-user-b(class='#{el.class}')
	.header-text-be #{el.headerText}

	.bottom-text-be #{el.bottomText}

	- el = { class: '', text: el.circleText }
	include tab-circle

	.line-thrue-be


