//- , style="width:324px;"
.header-tab-user-b(class='#{el.class}')
	.header-text-be #{el.headerText}

	.bottom-text-be 
		| #{el.bottomText}
		.i-g.b-g.open-sans-g.f-s-20-g #{el.bottomTextCnt} 
		.i-g.f-s-14-g.m-t-de-1-g Followers

	- el = { class: '', text: el.circleText }
	include tab-circle

	.line-thrue-be
	

