.social-share-b
	- el = { class:'is-white is-hoverable', path: 'twitter-icon' }
	include icon
	- el = { class:'is-white is-hoverable', path: 'fb-icon' }
	include icon
	- el = { class:'is-white is-hoverable', path: 'youtube-icon' }
	include icon
	- el = { class:'is-white is-hoverable', path: 'instagram-icon' }
	include icon