
<div class="social-share-b">
  <div id="" title="" class="icon is-white is-hoverable">
    <svg viewBox="0 0 32 32">
      <use xlink:href="#twitter-icon"></use>
    </svg>
  </div>
  <div id="" title="" class="icon is-white is-hoverable">
    <svg viewBox="0 0 32 32">
      <use xlink:href="#fb-icon"></use>
    </svg>
  </div>
  <div id="" title="" class="icon is-white is-hoverable">
    <svg viewBox="0 0 32 32">
      <use xlink:href="#youtube-icon"></use>
    </svg>
  </div>
  <div id="" title="" class="icon is-white is-hoverable">
    <svg viewBox="0 0 32 32">
      <use xlink:href="#instagram-icon"></use>
    </svg>
  </div>
</div>