// BASIC PAGE STYLES
@import '../assets/imports.styl'

sidebarWidth = 324px

#sidebar-l
	min-height 100%
	width sidebarWidth
	float left
	position relative
	overflow hidden

	> .top-ll
		float left
		width 100%
	
	marginHackSize = 999999999px
	> .bottom-ll
		clear both
		color white
		background rgba(c-blue1,.7)
		display block
		margin-bottom 	- marginHackSize
		padding-bottom 		marginHackSize
			

#main-l
	margin-left sidebarWidth
	min-height 100%
	
